@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?s08xbq');
  src:  url('../fonts/icons/icomoon.eot?s08xbq#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?s08xbq') format('truetype'),
    url('../fonts/icons/icomoon.woff?s08xbq') format('woff'),
    url('../fonts/icons/icomoon.svg?s08xbq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-archive:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-customize-this-uniform:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-edit:before {
  content: "\e905";
}
.icon-fb:before {
  content: "\e906";
  /*color: #d1d1d1;*/
}
.icon-font-size:before {
  content: "\e907";
}
.icon-ig:before {
  content: "\e908";
  /*color: #d1d1d1;*/
}
.icon-left-arrow:before {
  content: "\e909";
}
.icon-linked-in .path1:before {
  content: "\e90a";
  color: rgb(209, 209, 209);
}
.icon-linked-in .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(99, 99, 99);
}
.icon-list-view:before {
  content: "\e90c";
}
.icon-lock:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-move:before {
  content: "\e90f";
}
.icon-right-arrow:before {
  content: "\e910";
}
.icon-rotate:before {
  content: "\e911";
}
.icon-scale:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-view:before {
  content: "\e914";
}
