/*
Error: Undefined variable: "$color-r-cp-2-black2".
        on line 2 of D:\QXA\Web Projects\mockup-editor\sass\palette.scss

1: .palette-c-black {
2:   background-color: $color-r-cp-2-black2;
3: }
4: 
5: .palette-c-lightBlue {
6:   background-color: $color-r-cp-2-lightblue;
7: }

body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color-r-cp-2-black2\".\A         on line 2 of D:\QXA\Web Projects\mockup-editor\sass\palette.scss\A \A 1: .palette-c-black {\A 2:   background-color: $color-r-cp-2-black2;\A 3: }\A 4: \A 5: .palette-c-lightBlue {\A 6:   background-color: $color-r-cp-2-lightblue;\A 7: }"; }
