
$color-red: #e32139 !important;
$color-white: #ffffff !important;
$color-light: #eee !important;
$color-lightGray: #dedede !important;
$color-gray: #aaa !important;
$color-dark: #343434 !important;
$color-darker: #242424 !important;
$color-transparent: none;
