

$color-white: #ffffff !important;
$color-light: #eee !important;
$color-lightGray: #dedede !important;
$color-gray: #aaa !important;
$color-dark: #343434 !important;
$color-darker: #242424 !important;
$color-red: #e32139 !important;
$color-transparent: transparent;




$color-brickred: #AD0000 !important;
$color-cardinal: #9c0000 !important;
$color-seminol: #6b0c1e !important;
$color-maroon: #5c0000 !important;
$color-pink: #ffc8e2 !important;
$color-neonpink: #ff4689 !important;
$color-orange: #f54900 !important;
$color-texasorange: #b84d00 !important;
$color-tennorange: #ff8c00 !important;
$color-gold: #ffba00 !important;
$color-oldgold: #b18500 !important;
$color-vegasgold: #b5a773 !important;
$color-yellow: #f7fb0f !important;
$color-opticyellow: #ccde00 !important;
$color-safetygreen: #c9ff00 !important;
$color-limegreen: #46ca0d !important;
$color-kellygreen: #00782b !important;
$color-forestgreen: #003614 !important;
$color-darkgreen: #00240d !important;
$color-royalblue: #002792 !important;
$color-darkroyalblue: #001b64 !important;
$color-navyblue: #000c39 !important;
$color-darknavyblue: #00061a !important;
$color-purple: #230773 !important;
$color-darkpurple: #130047 !important;
$color-marlinblue: #20a495 !important;
$color-turquoise: #177378 !important;
$color-aqua: #56acde !important;
$color-carolinablue: #81bffa !important;
$color-columbiablue: #6896c2 !important;
$color-charcoalgray: #4c4c4c !important;
$color-grey: #949494 !important;
$color-silvergray: #c6c6c6 !important;
$color-cream: #f8f2d8 !important;
$color-brown: #2b1500 !important;








$color-r-cp-2-black2: #050505 !important;
$color-r-cp-2-darkblue: #0d162e !important;
$color-r-cp-2-cornblue: #28619d !important;
$color-r-cp-2-rosered: #aa302e !important;
$color-r-cp-2-1: #1f4d2c !important;
$color-r-cp-2-2: #4c191b !important;
$color-r-cp-2-3: #8a3927 !important;
$color-r-cp-2-4: #43286a !important;
$color-r-cp-2-5: #bebec0 !important;
$color-r-cp-2-6: #5e5f61 !important;
$color-r-cp-2-7: #d65d36 !important;
$color-r-cp-2-8: #316d3e !important;
$color-r-cp-2-9: #f8c957 !important;
$color-r-cp-2-10: #893724 !important;
$color-r-cp-2-lightblue: #88bee4 !important;
$color-r-cp-2-11: #f3ddaa !important;
$color-r-cp-2-12: #d47999 !important;
$color-r-cp-2-13: #ec5686 !important;
$color-r-cp-2-14: #f19136 !important;
$color-r-cp-2-15: #f9f855 !important;
$color-r-cp-2-16: #d6fb51 !important;
$color-r-cp-2-17: #357177 !important;
$color-r-cp-2-18: #291704 !important;
$color-r-cp-2-19: #f7f2db !important;
$color-r-cp-2-20: #392618 !important;
$color-r-cp-2-21: #191f13 !important;
$color-r-cp-2-22: #1e1d0a !important;
$color-r-cp-2-23: #b2b1ad !important;
$color-r-cp-2-24: #645a39 !important;