
$color-red: #e32139 !important;
$color-white: #ffffff !important;
$color-light: #eee !important;
$color-lightGray: #dedede !important;
$color-gray: #aaa !important;
$color-dark: #343434 !important;
$color-darker: #242424 !important;
$color-transparent: transparent;




$color-brickred: #AD0000 !important;
$color-cardinal: #9c0000 !important;
$color-seminol: #6b0c1e !important;
$color-maroon: #5c0000 !important;
$color-pink: #ffc8e2 !important;
$color-neonpink: #ff4689 !important;
$color-orange: #f54900 !important;
$color-texasorange: #b84d00 !important;
$color-tennorange: #ff8c00 !important;
$color-gold: #ffba00 !important;
$color-oldgold: #b18500 !important;
$color-vegasgold: #b5a773 !important;
$color-yellow: #f7fb0f !important;
$color-opticyellow: #ccde00 !important;
$color-safetygreen: #c9ff00 !important;
$color-limegreen: #46ca0d !important;
$color-kellygreen: #00782b !important;
$color-forestgreen: #003614 !important;
$color-darkgreen: #00240d !important;
$color-royalblue: #002792 !important;
$color-darkroyalblue: #001b64 !important;
$color-navyblue: #000c39 !important;
$color-darknavyblue: #00061a !important;
$color-purple: #230773 !important;
$color-darkpurple: #130047 !important;
$color-marlinblue: #20a495 !important;
$color-turquoise: #177378 !important;
$color-aqua: #56acde !important;
$color-carolinablue: #81bffa !important;
$color-columbiablue: #6896c2 !important;
$color-charcoalgray: #4c4c4c !important;
$color-grey: #949494 !important;
$color-silvergray: #c6c6c6 !important;
$color-cream: #f8f2d8 !important;
$color-brown: #2b1500 !important;