//a, button {
//  border-radius: 0;
//  color: #454545;
//  text-decoration: none;
//  border: 1px solid transparent;
//  padding: 8px 16px;
//  display: inline-block;
//  &:hover {
//    color: #232323;
//  }
//}
//
//a.default, button.default {
//  border-radius: 0;
//  color: #454545;
//  text-decoration: none;
//  border: 1px solid transparent;
//  padding: 8px 16px;
//  display: inline-block;
//  &:hover {
//    color: #232323;
//    border: 1px solid #232323;
//  }
//}

.btn-icon {
  padding: 8px;
  line-height: 0px;
  font-size: 6px !important;
}