
.bgc-red {
  background-color: $color-red;
}
.bgc-transparent {
  background-color: $color-transparent;
}
.bgc-white{
  background-color: $color-white;
}
.bgc-light {
  background-color: $color-light;
}
.bgc-lightGray {
  background-color: $color-lightGray;
}
.bgc-gray {
  background-color:$color-gray;
}
.bgc-dark {
  background-color:$color-dark;
}
.bgc-darker {
  background-color:$color-darker;
}

.fc-red {
  color: $color-red;
}

.fc-white {
  color: $color-white;
}
.fc-light {
  color: $color-light;
}
.fc-lightGray {
  color: $color-lightGray;
}
.fc-gray {
  color:$color-gray;
}
.fc-dark {
  color:$color-dark;
}
.fc-darker {
  color:$color-darker;
}

.bdr-red {
  border-color:$color-red;
}

.bdr-white {
  border-color:$color-white;
}
.bdr-light {
  border-color: $color-light;
}
.bdr-lightGray {
  border-color: $color-lightGray;
}
.bdr-gray {
  border-color:$color-gray;
}
.bdr-dark {
  border-color:$color-dark;
}
.bdr-darker {
  border-color:$color-darker;
}
