.bgc-white {
  background-color: white !important; }

.bgc-red {
  background-color: #e32139 !important; }

.bgc-transparent {
  background-color: transparent; }

.bgc-light {
  background-color: #eeeeee !important; }

.bgc-lightGray {
  background-color: #dedede !important; }

.bgc-gray {
  background-color: #aaaaaa !important; }

.bgc-dark {
  background-color: #343434 !important; }

.bgc-darker {
  background-color: #242424 !important; }

.bgc-brickred {
  background-color: #ad0000 !important; }

.bgc-cardinal {
  background-color: #9c0000 !important; }

.bgc-seminol {
  background-color: #6b0c1e !important; }

.bgc-maroon {
  background-color: #5c0000 !important; }

.bgc-pink {
  background-color: #ffc8e2 !important; }

.bgc-neonpink {
  background-color: #ff4689 !important; }

.bgc-orange {
  background-color: #f54900 !important; }

.bgc-texasorange {
  background-color: #b84d00 !important; }

.bgc-tennorange {
  background-color: darkorange !important; }

.bgc-gold {
  background-color: #ffba00 !important; }

.bgc-oldgold {
  background-color: #b18500 !important; }

.bgc-vegasgold {
  background-color: #b5a773 !important; }

.bgc-yellow {
  background-color: #f7fb0f !important; }

.bgc-opticyellow {
  background-color: #ccde00 !important; }

.bgc-safetygreen {
  background-color: #c9ff00 !important; }

.bgc-limegreen {
  background-color: #46ca0d !important; }

.bgc-kellygreen {
  background-color: #00782b !important; }

.bgc-forestgreen {
  background-color: #003614 !important; }

.bgc-darkgreen {
  background-color: #00240d !important; }

.bgc-royalblue {
  background-color: #002792 !important; }

.bgc-darkroyalblue {
  background-color: #001b64 !important; }

.bgc-navyblue {
  background-color: #000c39 !important; }

.bgc-darknavyblue {
  background-color: #00061a !important; }

.bgc-purple {
  background-color: #230773 !important; }

.bgc-darkpurple {
  background-color: #130047 !important; }

.bgc-marlinblue {
  background-color: #20a495 !important; }

.bgc-turquoise {
  background-color: #177378 !important; }

.bgc-aqua {
  background-color: #56acde !important; }

.bgc-carolinablue {
  background-color: #81bffa !important; }

.bgc-columbiablue {
  background-color: #6896c2 !important; }

.bgc-charcoalgray {
  background-color: #4c4c4c !important; }

.bgc-grey {
  background-color: #949494 !important; }

.bgc-silvergray {
  background-color: #c6c6c6 !important; }

.bgc-cream {
  background-color: #f8f2d8 !important; }

.bgc-brown {
  background-color: #2b1500 !important; }

.bgc-r-cp-2-black2 {
  background-color: #050505 !important; }

.bgc-r-cp-2-darkblue {
  background-color: #0d162e !important; }

.bgc-r-cp-2-cornblue {
  background-color: #28619d !important; }

.bgc-r-cp-2-rosered {
  background-color: #aa302e !important; }

.bgc-r-cp-2-1 {
  background-color: #1f4d2c !important; }

.bgc-r-cp-2-2 {
  background-color: #4c191b !important; }

.bgc-r-cp-2-3 {
  background-color: #8a3927 !important; }

.bgc-r-cp-2-4 {
  background-color: #43286a !important; }

.bgc-r-cp-2-5 {
  background-color: #bebec0 !important; }

.bgc-r-cp-2-6 {
  background-color: #5e5f61 !important; }

.bgc-r-cp-2-7 {
  background-color: #d65d36 !important; }

.bgc-r-cp-2-8 {
  background-color: #316d3e !important; }

.bgc-r-cp-2-9 {
  background-color: #f8c957 !important; }

.bgc-r-cp-2-10 {
  background-color: #893724 !important; }

.bgc-r-cp-2-lightblue {
  background-color: #88bee4 !important; }

.bgc-r-cp-2-11 {
  background-color: #f3ddaa !important; }

.bgc-r-cp-2-12 {
  background-color: #d47999 !important; }

.bgc-r-cp-2-13 {
  background-color: #ec5686 !important; }

.bgc-r-cp-2-14 {
  background-color: #f19136 !important; }

.bgc-r-cp-2-15 {
  background-color: #f9f855 !important; }

.bgc-r-cp-2-16 {
  background-color: #d6fb51 !important; }

.bgc-r-cp-2-17 {
  background-color: #357177 !important; }

.bgc-r-cp-2-18 {
  background-color: #291704 !important; }

.bgc-r-cp-2-19 {
  background-color: #f7f2db !important; }

.bgc-r-cp-2-20 {
  background-color: #392618 !important; }

.bgc-r-cp-2-21 {
  background-color: #191f13 !important; }

.bgc-r-cp-2-22 {
  background-color: #1e1d0a !important; }

.bgc-r-cp-2-23 {
  background-color: #b2b1ad !important; }

.bgc-r-cp-2-24 {
  background-color: #645a39 !important; }

.fc-red {
  color: #e32139 !important; }

.fc-white {
  color: white !important; }

.fc-light {
  color: #eeeeee !important; }

.fc-lightGray {
  color: #dedede !important; }

.fc-gray {
  color: #aaaaaa !important !important; }

.fc-dark {
  color: #343434 !important; }

.fc-darker {
  color: #242424 !important; }

.bdr-red {
  border-color: #e32139 !important; }

.bdr-white {
  border-color: white !important; }

.bdr-light {
  border-color: #eeeeee !important; }

.bdr-lightGray {
  border-color: #dedede !important; }

.bdr-gray {
  border-color: #aaaaaa !important; }

.bdr-dark {
  border-color: #343434 !important; }

.bdr-darker {
  border-color: #242424 !important; }
