.palette-c-black {
  background-color: $color-r-cp-2-black2;
}

.palette-c-lightBlue {
  background-color: $color-r-cp-2-lightblue;
}

.palette-c-charcoalGray {
  background-color: $color-charcoalgray;
}

.palette-c-maroon {
  background-color: $color-maroon;
}

.palette-c-green {
  background-color: $color-r-cp-2-8;
}

.palette-c-gold {
  background-color: $color-gold;
}

.palette-c-grey {
  background-color: $color-grey;
}

.palette-c-silverGray {
  background-color: $color-silvergray;
}

.palette-c-green-2 {
  background-color: $color-r-cp-2-1;
}

.palette-c-maroonBrown {
  background-color: $color-r-cp-2-2;
}

.palette-c-darkBlue {
  background-color: $color-r-cp-2-darkblue;;
}

.palette-c-orange {
  background-color: $color-orange;
}

.palette-c-purple {
  background-color: $color-purple;
}

.palette-c-cardinal {
  background-color: $color-cardinal;
}

.palette-c-cornBlue {
  background-color: $color-r-cp-2-cornblue;
}

.palette-c-seminol {
  background-color: $color-seminol;
}

.palette-c-creamYellow {
  background-color: $color-r-cp-2-9;
}

.palette-c-white {
  background-color: $color-white;
}

.palette-c-neonPink {
  background-color: $color-neonpink;
}




.palette-blank {
  background-image: url("../img/palettes/palette-blank.png");
  background-size: cover;
}

.palette-camo {
  background-image: url("../img/palettes/palette-camo.png");
}

.palette-check{
  background-image: url("../img/palettes/palette-check.png");
}

.palette-diamonds {
  background-image: url("../img/palettes/palette-diamonds.png");
}

.palette-digital-camo {
  background-image: url("../img/palettes/palette-digital-camo.png");
}

.palette-distressed {
  background-image: url("../img/palettes/palette-distressed.png");
}

.palette-fiber {
  background-image: url("../img/palettes/palette-fiber.png");
}

.palette-lockdown {
  background-image: url("../img/palettes/palette-lockdown.png");
}

.palette-pixel-fade-body {
  background-image: url("../img/palettes/palette-pixel-fade-body.png");
}

.palette-pixel-fade-sleeve {
  background-image: url("../img/palettes/palette-pixel-fade-sleeve.png");
}

.palette-quake {
  background-image: url("../img/palettes/palette-quake.png");
}

.palette-score {
  background-image: url("../img/palettes/palette-score.png");
}

.palette-thick-stripe {
  background-image: url("../img/palettes/palette-thick-stripe.png");
}

.palette-thin-stripes {
  background-image: url("../img/palettes/palette-thin-stripes.png");
}

.palette-trips-arrow {
  background-image: url("../img/palettes/palette-trips-arrow.png");
}

.palette-upper-stripes {
  background-image: url("../img/palettes/palette-upper-stripes.png");
}

.palette-upper-stripes-body {
  background-image: url("../img/palettes/palette-upper-stripes-body.png");
}

.palette-wave-stripe {
  background-image: url("../img/palettes/palette-wave-stripe.png");
}

.palette-wave-stripes {
  background-image: url("../img/palettes/palette-wave-stripes.png");
}


.palette-gradient-1 {
  background-image: url("../img/palettes/palette-gradient-1.png");
}

.palette-gradient-2 {
  background-image: url("../img/palettes/palette-gradient-2.png");
}

.palette-gradient-3 {
  background-image: url("../img/palettes/palette-gradient-3.png");
}

.palette-gradient-4 {
  background-image: url("../img/palettes/palette-gradient-4.png");
}

.palette-gradient-5 {
  background-image: url("../img/palettes/palette-gradient-5.png");
}

.palette-gradient-6 {
  background-image: url("../img/palettes/palette-gradient-6.png");
}

.palette-gradient-7 {
  background-image: url("../img/palettes/palette-gradient-7.png");
}

.palette-gradient-8 {
  background-image: url("../img/palettes/palette-gradient-8.png");
}

.palette-gradient-9 {
  background-image: url("../img/palettes/palette-gradient-9.png");
}

.palette-gradient-10 {
  background-image: url("../img/palettes/palette-gradient-10.png");
}

.palette-gradient-11 {
  background-image: url("../img/palettes/palette-gradient-11.png");
}

.palette-gradient-12 {
  background-image: url("../img/palettes/palette-gradient-12.png");
}