@import "button" ;
@import "_variables";
@import "colors";
@import "palette";

.padding-tiny-vertical {
  padding-top: 7px;
  padding-bottom: 7px;
}

.bdr-remove-right {
  border-right: none !important;
}

.bdr-thin {
  border: .5px solid;
}


.bdrr-none {
  border-radius: 0;
}


header .main-menu .uk-navbar-nav>li>a {
  height: 45px;
}

header .uk-grid-divider > :not(.uk-first-column) {
  &::before {
   border-left: solid 1.5px #aaa;
  }
}


.bottom-arrow > div.uk-active,
.bottom-arrow > li.uk-active {
  &:after {
    content: " ";
    display: block;
    height: 18px;
    width: 18px;
    transform: rotate(45deg);
    text-shadow: none;


    //position: absolute !important;
    //top: 50% !important;
    //left: 50% !important;
    //transform: translate(-50%, -50%) !important;
    position: relative;
    margin: 20px auto -9px auto;
    z-index: -1;
  }
}

.bottom-arrow.bac-light > li.uk-active,
.bottom-arrow.bac-light > div.uk-active {
  &:after {
    background-color: $color-light;
  }
}

.uk-active > a {
  color: $color-red;
}

.top-line > div a,
.top-line > li a {
  border-top: 3px solid transparent;
}

.top-line.tl-red > .uk-active a {
  border-color: $color-red;
}

.con-tab > li.uk-active div > img {
  background-color: $color-light;
}


.con-news-letter {
  border: solid 1px white;
}

.con-news-letter .form-input {
  color: $color-light;
  background-color: $color-dark;
  border: none;
  &:focus {
    background-color: $color-dark;
  }
}

.con-news-letter .form-input-left-icon {
  padding: 9px;
  display: inline-block;
  margin-right: -5px;
  border-right: solid 1px white;
}

.con-news-letter .form-input-btn-right {
  line-height: 0;
  color: $color-dark;
  padding: 1px 0 1px 30px;
  margin-left: -4px;
  border: solid 1px $color-light;
  &:hover {
    //color: $color-darker;
    background-color: $color-light;
  }
}

.con-news-letter .form-input-btn-right-icon {
  padding: 9px;
  margin-left: 30px;
  border-left: solid 1px;
}

.con-load-design .uk-input {
  &:focus {
    color: $color-light;
    border-color: $color-light;
  }
  &::placeholder {
    color: $color-light;
  }
}

.con-load-design .uk-input.bgc-red {
  &:focus {
    background-color: $color-red;
  }
}

.con-load-design .uk-input.bgc-dark {
  &:focus {
    background-color: $color-dark;
  }
}

.con-card-item > div > div {
  border: 1px solid $color-lightGray;
  background-color: $color-white;
}

.con-steps .wizard > .actions a span.left
{
  left: 0;
  border-right: 1px solid #353535;
  background: url(https://richardsonsports.com/customizer/images/css/arrow-l.png) no-repeat center center;
}

.con-steps .wizard > .actions a span.right
{
  right: 0;
  border-left: 1px solid #353535;
  background: url(https://richardsonsports.com/customizer/images/css/arrow-r.png) no-repeat center center;
}

.thumbnail-small {
  width: 44px;
  padding: 5px 8px;
}

.box-palette {
  //margin: 8px 8px auto auto;
}

.palette {
  height: 35px;
  width: 35px;
  display: block;
  border: 1px solid $color-gray;
}

.palette-toggle-show {
  display: block !important;
}

.slider .rs-path-color  {
  background-color: $color-gray;
}
.slider .rs-handle  {
  background-color: $color-dark;
}

.rs-tooltip {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: $color-dark;
  border-color: transparent;
}

.ui-slider {
  background: $color-gray;
}

.ui-slider-label {
  font-size: 12px;
  color: $color-dark;
}

.ui-slider-pip.ui-slider-pip-selected .ui-slider-label {
  color: $color-darker; }

.left-nav {
  background-color: #1f4d2c;
  margin-left: -36px;
}


.uk-grid-small.tiny-padding-left > * {
  padding-left: 8px;
}