@import "button" ;
@import "_variables";
@import "colors";
.flex {
  flex: 2;
}


header .main-menu .uk-navbar-nav>li>a {
  height: 45px;
}

header .uk-grid-divider > :not(.uk-first-column) {
  &::before {
   border-left: solid 1.5px #aaa;
  }
}

//.con-starting-point-tab > li.uk-active {
//  &:after {
//    content: " ";
//    display: block;
//    height: 40px;
//    width: 40px;
//    transform: rotate(45deg);
//    text-shadow: none;
//    background-color: $color-dark;
//    position: relative;
//    margin: auto auto 100px auto;
//    z-index: -1;
//  }
//}

.con-tab > li.uk-active a {
  color: $color-red;
  border-color: $color-red;
}


.con-news-letter {
  border: solid 1px white;
}

.con-news-letter .form-input {
  color: $color-light;
  background-color: $color-dark;
  border: none;
  &:focus {
    background-color: $color-dark;
  }
}

.con-news-letter .form-input-left-icon {
  padding: 9px;
  display: inline-block;
  margin-right: -5px;
  border-right: solid 1px white;
}

.con-news-letter .form-input-btn-right {
  line-height: 0;
  color: $color-dark;
  padding: 1px 0 1px 30px;
  margin-left: -4px;
  border: solid 1px $color-light;
  &:hover {
    //color: $color-darker;
    background-color: $color-light;
  }
}

.con-news-letter .form-input-btn-right-icon {
  padding: 9px;
  margin-left: 30px;
  border-left: solid 1px;
}


//.ewan {
//  width: 100%;
//  height: 200px;
//  margin: 0;
//  padding: 0;
//  text-align: center;
//&:after {
//  display: inline-block;
//  height: 100%;
//  content: " ";
//  text-shadow: none;
//  background-color: $color-dark;
//  width: 50%;
//}
//  &:before {
//    display: inline-block;
//    height: 100%;
//    content: " ";
//    text-shadow: none;
//    background-color: $color-red;
//    width: 50%;
//  }
//}

.con-load-design .uk-input {
  &:focus {
    color: $color-light;
    border-color: $color-light;
  }
  &::placeholder {
    color: $color-light;
  }
}

.con-load-design .uk-input.bgc-red {
  &:focus {
    background-color: $color-red;
  }
}

.con-load-design .uk-input.bgc-dark {
  &:focus {
    background-color: $color-dark;
  }
}

.con-card-item > div > div {
  border: 1px solid $color-lightGray;
  background-color: $color-white;
}

.psuedo-before-remove {
  &:before {
    display: none;
  }
}

.con-customizer {
  width: 580px;
}

.asdd {
  height: 100%;
  overflow-y: scroll; }

.palette {
  height: 35px;
  width: 35px;
  display: block;
  border: 1px solid $color-lightGray;
}
