@import "button" ;
@import "_variables";
@import "colors";
@import "palette";

.btn-icon {
  padding: 8px;
  line-height: 0px;
  font-size: 6px !important; }

.padding-tiny-vertical {
  padding-top: 7px;
  padding-bottom: 7px; }

.bdr-remove-right {
  border-right: none !important; }

.bdr-thin {
  border: .5px solid; }

.bdrr-none {
  border-radius: 0; }

header .main-menu .uk-navbar-nav > li > a {
  height: 45px; }

header .uk-grid-divider > :not(.uk-first-column)::before {
  border-left: solid 1.5px #aaa; }

.bottom-arrow > div.uk-active:after,
.bottom-arrow > li.uk-active:after {
  content: " ";
  display: block;
  height: 18px;
  width: 18px;
  transform: rotate(45deg);
  text-shadow: none;
  position: relative;
  margin: 20px auto -9px auto;
  z-index: -1; }

.bottom-arrow.bac-light > li.uk-active:after,
.bottom-arrow.bac-light > div.uk-active:after {
  background-color: #eeeeee !important; }

.active-fc-red .uk-active  a {
  color: #e32139 !important; }

.active-bgc-red .uk-active  a {
  color: $color-light;
  background-color: #e32139 !important; }

.top-line > div a,
.top-line > li a {
  border-top: 3px solid transparent; }

.top-line.tl-red > .uk-active a {
  border-color: #e32139 !important; }

.con-tab > li.uk-active div > img {
  background-color: #eeeeee !important; }

.con-news-letter {
  border: solid 1px white; }

.con-news-letter .form-input {
  color: #eeeeee !important;
  background-color: #343434 !important;
  border: none; }
  .con-news-letter .form-input:focus {
    background-color: #343434 !important; }

.con-news-letter .form-input-left-icon {
  padding: 9px;
  display: inline-block;
  margin-right: -5px;
  border-right: solid 1px white; }

.con-news-letter .form-input-btn-right {
  line-height: 0;
  color: #343434 !important;
  padding: 1px 0 1px 30px;
  margin-left: -4px;
  border: solid 1px #eeeeee !important; }
  .con-news-letter .form-input-btn-right:hover {
    background-color: #eeeeee !important; }

.con-news-letter .form-input-btn-right-icon {
  padding: 9px;
  margin-left: 30px;
  border-left: solid 1px; }

.con-load-design .uk-input:focus {
  color: #eeeeee !important;
  border-color: #eeeeee !important; }
.con-load-design .uk-input::placeholder {
  color: #eeeeee !important; }

.con-load-design .uk-input.bgc-red:focus {
  background-color: #e32139 !important; }

.con-load-design .uk-input.bgc-dark:focus {
  background-color: #343434 !important; }

.con-card-item > div > div {
  border: 1px solid #dedede !important;
  background-color: white !important; }

.con-steps .wizard > .actions a span.left {
  left: 0;
  border-right: 1px solid #353535;
  background: url(https://richardsonsports.com/customizer/images/css/arrow-l.png) no-repeat center center; }

.con-steps .wizard > .actions a span.right {
  right: 0;
  border-left: 1px solid #353535;
  background: url(https://richardsonsports.com/customizer/images/css/arrow-r.png) no-repeat center center; }

.thumbnail-small {
  width: 44px;
  padding: 5px 8px; }

.palette {
  height: 35px;
  width: 35px;
  display: block;
  border: 1px solid #aaaaaa !important; }

.palette-toggle-show {
  display: block !important; }

.slider .rs-path-color {
  background-color: #aaaaaa !important; }

.slider .rs-handle {
  background-color: #343434 !important; }

.rs-tooltip {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; }

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #343434 !important;
  border-color: transparent; }

.ui-slider {
  background: #aaaaaa !important; }

.ui-slider-label {
  font-size: 12px;
  color: #343434 !important; }

.ui-slider-pip.ui-slider-pip-selected .ui-slider-label {
  color: #242424 !important; }

.left-nav {
  margin-left: -36px; }

.uk-grid-small.grid-tiny {
  margin-left: -6px; }

.uk-grid-small.grid-tiny > * {
  padding-left: 6px; }

.uk-grid-small.grid-tiny>.uk-grid-margin {
    margin-top: 6px;
}