
@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
  font-family: "Abrade-Black";
  src: url("../fonts/Jason-Vandenberg-Abrade-Black.otf") format("opentype")
}

@font-face {
  font-family: "Abrade-Book";
  src: url("../fonts/Jason-Vandenberg-Abrade-Book.otf") format("opentype")
}

@font-face {
  font-family: "Abrade-Heavy";
  src: url("../fonts/Jason-Vandenberg-Abrade-Heavy.otf") format("opentype")
}

@font-face {
  font-family: "Abrade-Medium";
  src: url("../fonts/Jason-Vandenberg-Abrade-Medium.otf") format("opentype")
}

@font-face {
  font-family: "Abrade-Ultra";
  src: url("../fonts/Jason-Vandenberg-Abrade-Ultra.otf") format("opentype")
}

@font-face {
  font-family: "Abrade-Ultra-Italic";
  src: url("../fonts/Jason-Vandenberg-Abrade-Ultra-Italic.otf") format("opentype")
}

