@import url("https://fonts.googleapis.com/css?family=Oswald");
.btn-icon {
  padding: 8px;
  line-height: 0px;
  font-size: 6px !important; }

.bgc-white {
  background-color: white !important; }

.bgc-red {
  background-color: #e32139 !important; }

.bgc-transparent {
  background-color: transparent !important; }

.bgc-light {
  background-color: #eeeeee !important; }

.bgc-lightGray {
  background-color: #dedede !important; }

.bgc-gray {
  background-color: #aaaaaa !important; }

.bgc-dark {
  background-color: #343434 !important; }

.bgc-darkGray {
  background-color: #6c6c6c !important; }

.bgc-darker {
  background-color: #242424 !important; }

.bgc-darkerGray {
  background-color: #606060 !important; }

.bgc-brickred {
  background-color: #ad0000 !important; }

.bgc-cardinal {
  background-color: #9c0000 !important; }

.bgc-seminol {
  background-color: #6b0c1e !important; }

.bgc-maroon {
  background-color: #5c0000 !important; }

.bgc-pink {
  background-color: #ffc8e2 !important; }

.bgc-neonpink {
  background-color: #ff4689 !important; }

.bgc-orange {
  background-color: #f54900 !important; }

.bgc-texasorange {
  background-color: #b84d00 !important; }

.bgc-tennorange {
  background-color: darkorange !important; }

.bgc-gold {
  background-color: #ffba00 !important; }

.bgc-oldgold {
  background-color: #b18500 !important; }

.bgc-vegasgold {
  background-color: #b5a773 !important; }

.bgc-yellow {
  background-color: #f7fb0f !important; }

.bgc-opticyellow {
  background-color: #ccde00 !important; }

.bgc-safetygreen {
  background-color: #c9ff00 !important; }

.bgc-limegreen {
  background-color: #46ca0d !important; }

.bgc-kellygreen {
  background-color: #00782b !important; }

.bgc-forestgreen {
  background-color: #003614 !important; }

.bgc-darkgreen {
  background-color: #00240d !important; }

.bgc-royalblue {
  background-color: #002792 !important; }

.bgc-darkroyalblue {
  background-color: #001b64 !important; }

.bgc-navyblue {
  background-color: #000c39 !important; }

.bgc-darknavyblue {
  background-color: #00061a !important; }

.bgc-purple {
  background-color: #230773 !important; }

.bgc-darkpurple {
  background-color: #130047 !important; }

.bgc-marlinblue {
  background-color: #20a495 !important; }

.bgc-turquoise {
  background-color: #177378 !important; }

.bgc-aqua {
  background-color: #56acde !important; }

.bgc-carolinablue {
  background-color: #81bffa !important; }

.bgc-columbiablue {
  background-color: #6896c2 !important; }

.bgc-charcoalgray {
  background-color: #4c4c4c !important; }

.bgc-grey {
  background-color: #949494 !important; }

.bgc-silvergray {
  background-color: #c6c6c6 !important; }

.bgc-cream {
  background-color: #f8f2d8 !important; }

.bgc-brown {
  background-color: #2b1500 !important; }

.bgc-r-cp-2-black2 {
  background-color: #050505 !important; }

.bgc-r-cp-2-darkblue {
  background-color: #0d162e !important; }

.bgc-r-cp-2-cornblue {
  background-color: #28619d !important; }

.bgc-r-cp-2-rosered {
  background-color: #aa302e !important; }

.bgc-r-cp-2-1 {
  background-color: #1f4d2c !important; }

.bgc-r-cp-2-2 {
  background-color: #4c191b !important; }

.bgc-r-cp-2-3 {
  background-color: #8a3927 !important; }

.bgc-r-cp-2-4 {
  background-color: #43286a !important; }

.bgc-r-cp-2-5 {
  background-color: #bebec0 !important; }

.bgc-r-cp-2-6 {
  background-color: #5e5f61 !important; }

.bgc-r-cp-2-7 {
  background-color: #d65d36 !important; }

.bgc-r-cp-2-8 {
  background-color: #316d3e !important; }

.bgc-r-cp-2-9 {
  background-color: #f8c957 !important; }

.bgc-r-cp-2-10 {
  background-color: #893724 !important; }

.bgc-r-cp-2-lightblue {
  background-color: #88bee4 !important; }

.bgc-r-cp-2-11 {
  background-color: #f3ddaa !important; }

.bgc-r-cp-2-12 {
  background-color: #d47999 !important; }

.bgc-r-cp-2-13 {
  background-color: #ec5686 !important; }

.bgc-r-cp-2-14 {
  background-color: #f19136 !important; }

.bgc-r-cp-2-15 {
  background-color: #f9f855 !important; }

.bgc-r-cp-2-16 {
  background-color: #d6fb51 !important; }

.bgc-r-cp-2-17 {
  background-color: #357177 !important; }

.bgc-r-cp-2-18 {
  background-color: #291704 !important; }

.bgc-r-cp-2-19 {
  background-color: #f7f2db !important; }

.bgc-r-cp-2-20 {
  background-color: #392618 !important; }

.bgc-r-cp-2-21 {
  background-color: #191f13 !important; }

.bgc-r-cp-2-22 {
  background-color: #1e1d0a !important; }

.bgc-r-cp-2-23 {
  background-color: #b2b1ad !important; }

.bgc-r-cp-2-24 {
  background-color: #645a39 !important; }

.fc-red {
  color: #e32139 !important; }

.fc-white {
  color: white !important; }

.fc-light {
  color: #eeeeee !important; }

.fc-lightGray {
  color: #dedede !important; }

.fc-gray {
  color: #aaaaaa !important; }

.fc-darkGray {
  color: #6c6c6c !important; }

.fc-dark {
  color: #343434 !important; }

.fc-darker {
  color: #242424 !important; }

.fc-darkerGray {
  color: #606060 !important; }

.bdr-red {
  border-color: #e32139 !important; }

.bdr-white {
  border-color: white !important; }

.bdr-light {
  border-color: #eeeeee !important; }

.bdr-lightGray {
  border-color: #dedede !important; }

.bdr-gray {
  border-color: #aaaaaa !important; }

.bdr-dark {
  border-color: #343434 !important; }

.bdr-darker {
  border-color: #242424 !important; }

.palette-c-black {
  background-color: #050505 !important; }

.palette-c-lightBlue {
  background-color: #88bee4 !important; }

.palette-c-charcoalGray {
  background-color: #4c4c4c !important; }

.palette-c-maroon {
  background-color: #5c0000 !important; }

.palette-c-green {
  background-color: #316d3e !important; }

.palette-c-gold {
  background-color: #ffba00 !important; }

.palette-c-grey {
  background-color: #949494 !important; }

.palette-c-silverGray {
  background-color: #c6c6c6 !important; }

.palette-c-green-2 {
  background-color: #1f4d2c !important; }

.palette-c-maroonBrown {
  background-color: #4c191b !important; }

.palette-c-darkBlue {
  background-color: #0d162e !important; }

.palette-c-orange {
  background-color: #f54900 !important; }

.palette-c-purple {
  background-color: #230773 !important; }

.palette-c-cardinal {
  background-color: #9c0000 !important; }

.palette-c-cornBlue {
  background-color: #28619d !important; }

.palette-c-seminol {
  background-color: #6b0c1e !important; }

.palette-c-creamYellow {
  background-color: #f8c957 !important; }

.palette-c-white {
  background-color: white !important; }

.palette-c-neonPink {
  background-color: #ff4689 !important; }

.palette-camo {
  background-image: url("../img/palettes/palette-camo.png"); }

.palette-check {
  background-image: url("../img/palettes/palette-check.png"); }

.palette-diamonds {
  background-image: url("../img/palettes/palette-diamonds.png"); }

.palette-digital-camo {
  background-image: url("../img/palettes/palette-digital-camo.png"); }

.palette-distressed {
  background-image: url("../img/palettes/palette-distressed.png"); }

.palette-fiber {
  background-image: url("../img/palettes/palette-fiber.png"); }

.palette-lockdown {
  background-image: url("../img/palettes/palette-lockdown.png"); }

.palette-pixel-fade-body {
  background-image: url("../img/palettes/palette-pixel-fade-body.png"); }

.palette-pixel-fade-sleeve {
  background-image: url("../img/palettes/palette-pixel-fade-sleeve.png"); }

.palette-quake {
  background-image: url("../img/palettes/palette-quake.png"); }

.palette-score {
  background-image: url("../img/palettes/palette-score.png"); }

.palette-thick-stripe {
  background-image: url("../img/palettes/palette-thick-stripe.png"); }

.palette-thin-stripes {
  background-image: url("../img/palettes/palette-thin-stripes.png"); }

.palette-trips-arrow {
  background-image: url("../img/palettes/palette-trips-arrow.png"); }

.palette-upper-stripes {
  background-image: url("../img/palettes/palette-upper-stripes.png"); }

.palette-upper-stripes-body {
  background-image: url("../img/palettes/palette-upper-stripes-body.png"); }

.palette-wave-stripe {
  background-image: url("../img/palettes/palette-wave-stripe.png"); }

.palette-wave-stripes {
  background-image: url("../img/palettes/palette-wave-stripes.png"); }

.palette-gradient-1 {
  background-image: url("../img/palettes/palette-gradient-1.png"); }

.palette-gradient-2 {
  background-image: url("../img/palettes/palette-gradient-2.png"); }

.palette-gradient-3 {
  background-image: url("../img/palettes/palette-gradient-3.png"); }

.palette-gradient-4 {
  background-image: url("../img/palettes/palette-gradient-4.png"); }

.palette-gradient-5 {
  background-image: url("../img/palettes/palette-gradient-5.png"); }

.palette-gradient-6 {
  background-image: url("../img/palettes/palette-gradient-6.png"); }

.palette-gradient-7 {
  background-image: url("../img/palettes/palette-gradient-7.png"); }

.palette-gradient-8 {
  background-image: url("../img/palettes/palette-gradient-8.png"); }

.palette-gradient-9 {
  background-image: url("../img/palettes/palette-gradient-9.png"); }

.palette-gradient-10 {
  background-image: url("../img/palettes/palette-gradient-10.png"); }

.palette-gradient-11 {
  background-image: url("../img/palettes/palette-gradient-11.png"); }

.palette-gradient-12 {
  background-image: url("../img/palettes/palette-gradient-12.png"); }

@font-face {
  font-family: "Abrade-Black";
  src: url("../fonts/Jason-Vandenberg-Abrade-Black.otf") format("opentype"); }

@font-face {
  font-family: "Abrade-Book";
  src: url("../fonts/Jason-Vandenberg-Abrade-Book.otf") format("opentype"); }

@font-face {
  font-family: "Abrade-Heavy";
  src: url("../fonts/Jason-Vandenberg-Abrade-Heavy.otf") format("opentype"); }

@font-face {
  font-family: "Abrade-Medium";
  src: url("../fonts/Jason-Vandenberg-Abrade-Medium.otf") format("opentype"); }

@font-face {
  font-family: "Abrade-Ultra";
  src: url("../fonts/Jason-Vandenberg-Abrade-Ultra.otf") format("opentype"); }

@font-face {
  font-family: "Abrade-Ultra-Italic";
  src: url("../fonts/Jason-Vandenberg-Abrade-Ultra-Italic.otf") format("opentype"); }

.abrade-black {
  font-family: Abrade-Black !important; }

.abrade-book {
  font-family: Abrade-Book !important; }

.abrade-heavy {
  font-family: Abrade-Heavy !important; }

.abrade-medium {
  font-family: Abrade-Medium !important; }

.abrade-ultra {
  font-family: Abrade-Ultra !important; }

.abrade-ultra-italic {
  font-family: Abrade-Ultra-Italic !important; }

.oswald-regular {
  font-family: Oswald, san-serif !important; }

body {
  font-family: Abrade-Book; }

.btn-icon {
  padding: 8px;
  line-height: 0px;
  font-size: 6px !important; }

.padding-tiny-vertical {
  padding-top: 7px;
  padding-bottom: 7px; }

.bdr-remove {
  border: none !important; }

.bdr-remove-right {
  border-right: none !important; }

.bdr-thin {
  border: .5px solid; }

.bdr-reg {
  border: 1px solid; }

.bdrr-none {
  border-radius: 0; }

header .main-menu .uk-navbar-nav > li > a {
  height: 60px; }

header .uk-grid-divider > :not(.uk-first-column)::before {
  border-left: solid 1.5px #aaa; }

.bottom-arrow > *.uk-active:after {
  content: " ";
  display: block;
  height: 18px;
  width: 18px;
  transform: rotate(45deg);
  text-shadow: none;
  position: relative;
  margin: 20px auto -9px auto;
  z-index: -1; }

.bottom-arrow.arrow-outward > *.uk-active:after {
  transform: rotate(45deg);
  text-shadow: none;
  position: relative;
  margin: -9px auto auto auto;
  z-index: -1; }

.bac-light > *.uk-active:after {
  background-color: #eeeeee !important; }

.bac-dark > *.uk-active:after {
  background-color: #343434 !important; }

.active-fc-red .uk-active a {
  color: #e32139 !important; }

.active-bgc-red .uk-active a {
  color: #eeeeee !important;
  background-color: #e32139 !important; }

.active-bdr-red .uk-active a {
  border-color: #e32139 !important; }

.active-bgc-dark .uk-active a {
  color: #eeeeee !important;
  background-color: #343434 !important; }

.active-bdr-dark .uk-active a {
  border-color: #343434 !important; }

.con-select.active-bgc-dark .uk-active {
  color: #eeeeee !important;
  background-color: #343434 !important;
  border-color: #343434 !important; }

.con-select.active-bgc-red .uk-active {
  color: #eeeeee !important;
  background-color: #e32139 !important;
  border-color: #e32139 !important; }

.top-line > div a,
.top-line > li a {
  border-top: 4px solid transparent; }

.top-line.tl-red > .uk-active a {
  border-color: #e32139 !important; }

.con-tab > li.uk-active div > img {
  background-color: #eeeeee !important; }

.con-news-letter {
  border: solid 1px white; }

.con-news-letter .form-input {
  color: #eeeeee !important;
  background-color: #343434 !important;
  border: none; }

.con-news-letter .form-input:focus {
  background-color: #343434 !important; }

.con-load-design .uk-input:focus {
  color: #eeeeee !important;
  border-color: #eeeeee !important; }

.con-load-design .uk-input::placeholder {
  color: #eeeeee !important; }

.con-load-design .uk-input.bgc-red:focus {
  background-color: #e32139 !important; }

.con-load-design .uk-input.bgc-dark:focus {
  background-color: #343434 !important; }

.con-card-item > div > div {
  border: 1px solid #dedede;
  background-color: white; }

.con-steps .wizard > .actions a span.left {
  left: 0;
  border-right: 1px solid #353535;
  background: url(https://richardsonsports.com/customizer/images/css/arrow-l.png) no-repeat center center; }

.con-steps .wizard > .actions a span.right {
  right: 0;
  border-left: 1px solid #353535;
  background: url(https://richardsonsports.com/customizer/images/css/arrow-r.png) no-repeat center center; }

.thumbnail-small {
  width: 44px;
  padding: 5px 8px; }

.box-palette {
  padding: 0px !important;
  border: 0px;
  border-radius: 0px; }

.palette {
  height: 35px;
  width: 35px;
  display: block;
  border: 1px solid #aaaaaa !important; }

.choice-icon {
  display: none !important; }

.con-palettes .btn-selection-choice.uk-active .choice-icon {
  display: block !important; }

.con-mascot-act-arch .btn-selection-choice.uk-active h6 {
  background-color: #e32139 !important; }

.slider .rs-path-color {
  background-color: #aaaaaa !important; }

.slider .rs-handle {
  background-color: #343434 !important; }

.rs-tooltip {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; }

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #343434 !important;
  border-color: transparent; }

.ui-slider {
  background: #aaaaaa !important; }

.ui-slider-label {
  font-size: 12px;
  color: #343434 !important; }

.ui-slider-pip.ui-slider-pip-selected .ui-slider-label {
  color: #242424 !important; }

.uk-grid-small.grid-tiny {
  margin-left: -6px; }

.uk-grid-small.grid-tiny > * {
  padding-left: 6px; }

.uk-grid-small.grid-tiny > .uk-grid-margin {
  margin-top: 6px; }

.hidden {
  display: none; }

.con-legend .box {
  width: 20px;
  height: 20px; }

#modal-all-application .uk-list > li:nth-child(n+2) {
  margin-top: 0;
  padding: 0; }

.icon {
  font-size: 18px; }

.uk-tooltip > * {
  right: 200px !important; }

.uk-tooltip {
  font-weight: bolder;
  padding: 16px 8px;
  border-radius: 0px;
  line-height: 0px;
  display: block !important;
  background-color: #343434 !important;
  text-transform: uppercase;
  margin-right: -14.9px !important; }
  .uk-tooltip:after {
    z-index: 1000 !important;
    content: " ";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%) !important;
    clear: both;
    border: 0px; }

.uk-tooltip.uk-tooltip-left-center:after {
  margin-right: -14.9px !important;
  top: 50% !important;
  right: -10px;
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  border-left: 10px solid #343434 !important; }

.line-divider > :nth-child(n+3):not(.uk-first-column)::before {
  content: "";
  height: 100%;
  margin-left: 0;
  border-left: 1px solid #aaaaaa !important;
  position: absolute; }

.line-divider > :nth-child(2):not(.uk-first-column) {
  margin-right: -9px !important; }

nav.main-menu ul li.sd a {
  margin-left: -6px; }
  nav.main-menu ul li.sd a:hover {
    color: #e32139 !important; }

nav.main-menu ul li a {
  color: #636466; }
  nav.main-menu ul li a:hover {
    color: #e32139 !important; }

nav.main-menu ul li.sd {
  position: relative; }
  nav.main-menu ul li.sd:before, nav.main-menu ul li.sd:after {
    content: " ";
    display: block;
    height: 10px;
    width: 33px;
    top: 11px;
    right: -17px;
    transform: rotate(66deg);
    -webkit-transform: rotate(66deg);
    -ms-transform: rotate(66deg);
    position: absolute;
    border-top: 1px solid #aaaaaa !important;
    background-color: #dedede !important; }
  nav.main-menu ul li.sd:after {
    transform: rotate(111deg);
    top: auto;
    bottom: 11px;
    background-color: #dedede !important; }

.hov-red:hover {
  background-color: #e32139 !important; }

@media screen and (min-width: 640px) {
  .left-nav {
    max-width: 36px; }

  .con-preview-pane-thumb-nav {
    max-width: 80px; }

  .wer {
    margin-left: 36px; } }
