<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Richardson</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>
    <div class="uk-container uk-container-large">
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href="#">
                            <img class="" src="./img/richardsonlogo.png" width="200" height="80" alt="">
                        </a>
                    </li>
                </ul>

            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li class=""><a href="#"><span class="uk-margin-small-right" uk-icon="search"></span>Search</a></li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="mail"></span>Contact Us</a></li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="lock"></span>Login</a></li>
                </ul>

            </div>

        </nav>
    </div>
    <div class="bgc-lightGray">
    <div class="uk-container uk-container-large">
    <nav class="uk-navbar-container uk-navbar-transparent main-menu" uk-navbar>
        <div class="uk-navbar-center">

            <ul class="uk-navbar-nav uk-grid-divider " uk-grid>
                <li class="uk-active uk-text-bold"><a href="#">Uniforms</a></li>
                <li class="uk-text-bold"><a href="#">Decoration</a></li>
                <li class="uk-text-bold"><a href="#">Customize</a></li>
                <li class="uk-text-bold"><a href="#">Catalog</a></li>
                <li class="uk-text-bold"><a href="#">About</a></li>
            </ul>

        </div>
    </nav>
</div>
    </div>
</header>

<footer>
    <div class="uk-padding bgc-dark">
        <div class="uk-container uk-container-large">
            <div class="uk-flex-middle" uk-grid>
                <div class="uk-width-1-1 uk-width-1-2@m ">

                    <div class=" uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="./img/richardsonlogo.png" width="200" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h3 class="uk-heading uk-margin-remove fc-red uk-text-bold">Stay connected with us.</h3>
                            <p class="uk-margin-remove fc-lightGray">Signup for our newsletter to stay up to date on new releases, product changes, and innovation from Richardson.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-1-2@m ">
                    <form>
                            <div class="uk-margin">

                            <div class="uk-inline uk-align-right con-news-letter">
                                <span uk-icon="icon: mail" class="fc-light form-input-left-icon"></span>
                                <input class="uk-input uk-form-width-medium form-input" type="text" placeholder="Enter your email address">
                                <button class="uk-button form-input-btn-right uk-text-bold">Join
                                    <span class="form-input-btn-right-icon border-left" uk-icon="arrow-right"></span>
                                </button>
                            </div>

                            </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="bgc-darker">
        <div class="uk-container uk-container-large">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                <div class="uk-navbar-left">

                    <ul class="uk-navbar-nav">
                        <li><a href="#">Legal Information</a></li>
                        <li><a href="#">Return Policy</a></li>
                        <li><a href="#">Corporate Responsibility</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Term & Conditions</a></li>
                    </ul>

                </div>

                <div class="uk-navbar-right">

                    <ul class="uk-iconnav">
                        <li>
                            <a href="#" class="uk-button uk-button-default btn-icon uk-button-small">
                                <span uk-icon="icon: facebook" class=""></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="uk-button uk-button-default btn-icon uk-button-small">
                                <span uk-icon="icon: instagram" class=""></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="uk-button uk-button-default btn-icon uk-button-small">
                                <span uk-icon="icon: linkedin" class=""></span>
                            </a>
                        </li>
                    </ul>

                </div>

            </nav>
        </div>
    </div>
</footer>


</body>
</html>