<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Richardson</title>
    <!-- UIkit CSS -->


    <link rel="stylesheet" href="css/jquery.steps.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.css" />
    <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/jqueryui.min.css" />
    <link rel="stylesheet" href="https://rawgit.com/simeydotme/jQuery-ui-Slider-Pips/master/dist/jquery-ui-slider-pips.css" />
    <link rel="stylesheet" href="css/style.css">

    <!-- JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.steps.min.js"></script>
    <script src="js/jquery.steps.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://rawgit.com/simeydotme/jQuery-ui-Slider-Pips/master/src/js/jquery-ui-slider-pips.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body>

<section class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-collapse" uk-grid>
            <div id="con-preview-pane" class="uk-width-1-1 uk-width-1-2@m uk-width-2-3@l ">
            </div>
            <div id="con-steps-sidebar" class="uk-width-1-1 uk-width-1-2@m uk-width-1-3@l">
                <div class="uk-padding-small bgc-light wer">
                    <div class=" uk-text-right">
                        <a class="uk-link-reset uk-text-small uk-text-uppercase" href="">Select new style</a>
                    </div>
                    <h5 class="uk-text-uppercase uk-text-bold uk-margin-remove oswald-regular">Pts 20</h5>
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand">
                            <h4 class="uk-text-uppercase uk-text-bold uk-margin-remove uk-text-truncate abrade-ultra-italic fc-darkGray">Pts Pro select 3000-8</h4>
                            <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-remove fc-red abrade-ultra">Sublimated</h6>
                        </div>
                        <!--CHANGE FABRIC BUTTON-->
                        <!--<div class="" uk-switcher="connect: .bt-0" uk-grid>-->
                            <!--<div class="">-->
                                <!--<a href="" class="uk-button uk-button-small padding-tiny-vertical uk-text-bold bgc-red fc-light uk-text-uppercase bdr-thin bdr-dark btn-bt-0 uk-flex uk-flex-middle ">-->
                                    <!--<span class="icon icon icon-edit"></span>-->
                                    <!--<span class="uk-visible@s uk-margin-small-left abrade-black">Change fabric</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>



                <div class="uk-grid-collapse" uk-grid>
                    <!-- Number Navigation -->
                    <div class="uk-width-1-1 uk-width-auto@s left-nav">
                        <div class="k-flex-center uk-grid-collapse uk-grid-match active-bgc-red active-bdr-red uk-text-bold" uk-switcher="connect: .con-customizer" uk-grid>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-hidden@s uk-width-1-1" uk-tooltip="title: Fabric; pos: top-right; offset: 0;">1</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-visible@s" uk-tooltip="title: Fabric; pos: left; offset: 0;">1</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-hidden@s uk-width-1-1" uk-tooltip="title: Base Color; pos: top-right; offset: 0;">2</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-visible@s" uk-tooltip="title: Base Color; pos: left; offset: 0;">2</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-hidden@s uk-width-1-1" uk-tooltip="title: Inserts; pos: top-right; offset: 0;">3</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-visible@s" uk-tooltip="title: Inserts; pos: left; offset: 0;">3</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-hidden@s uk-width-1-1" uk-tooltip="title: Pipings; pos: top-right; offset: 0;">4</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-visible@s" uk-tooltip="title: Pipings; pos: left; offset: 0;">4</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-hidden@s uk-width-1-1" uk-tooltip="title: Decoration Letters; pos: top-right; offset: 0;">5</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-visible@s" uk-tooltip="title: Decoration Letters; pos: left; offset: 0;">5</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-hidden@s uk-width-1-1" uk-tooltip="title: Decoration Numbers; pos: top-right; offset: 0;">6</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-visible@s" uk-tooltip="title: Decoration Numbers; pos: left; offset: 0;">6</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-hidden@s uk-width-1-1" uk-tooltip="title: Decorations; pos: top-right; offset: 0;">7</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-visible@s" uk-tooltip="title: Decorations; pos: left; offset: 0;">7</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-hidden@s uk-width-1-1" uk-tooltip="title: Richardson Logo; pos: top-right; offset: 0;">8</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light uk-visible@s" uk-tooltip="title: Richardson Logo; pos: left; offset: 0;">8</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Number Navigation -->
                    <div class="uk-width-1-1 uk-width-expand@s">
                        <ul id="m-con-steps" class="uk-switcher con-customizer bt-0">
                            <!-- Fabric Selection: Step 1 -->
                            <li>
                                <div id="m-fabric-selection" class=" uk-height-max-large uk-overflow-auto"></div>
                                <div class="uk-padding-small bgc-light">

                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a class="uk-link-reset uk-width-1-2 ">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Previous</div>
                                            </div>
                                        </a>
                                        <a href="#" uk-switcher-item="next" class="uk-link-reset uk-width-1-2 ">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="uk-width-1-1">
                                            <a href="#" class="uk-button bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                        </div>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Fabric Selection: Step 1 -->

                            <!-- Base Color Selection Step 2 -->
                            <li>
                                <ul id="m-base-color-selection" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#"class="uk-link-reset uk-width-1-2 " uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Previous</div>
                                            </div>
                                        </a>
                                        <a href="#"class="uk-link-reset uk-width-1-2 "uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="uk-width-1-1">
                                            <a href="#" class="uk-button bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                        </div>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Base Color Selection Step 2 -->

                            <!-- Sleeve Inserts: Step 3 -->
                            <li>
                                <ul id="m-sleeve-inserts" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 " uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Previous</div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 "uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="uk-width-1-1">
                                            <a href="#" class="uk-button bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                        </div>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Sleeve Inserts: Step 3 -->

                            <!-- Pipings: Step 4 -->
                            <li>
                                <div id="m-pipings"></div>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 " uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Previous</div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 "uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="uk-width-1-1">
                                            <a href="#" class="uk-button bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                        </div>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Pipings: Step 4 -->

                            <!-- Step 5: Decorations / Letters -->
                            <li>
                                <ul id="m-decorations-letters" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 " uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Previous</div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 "uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding -small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="uk-width-1-1">
                                            <a href="#" class="uk-button bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                        </div>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Step 5: Decorations / Letters -->

                            <!-- Step 6: Decorations / Numbers -->
                            <li>
                                <ul id="m-decorations-numbers" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 " uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Previous</div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 "uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding -small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="uk-width-1-1">
                                            <a href="#" class="uk-button bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                        </div>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Step 6: Decorations / Numbers -->

                            <!-- Step 7: Decoration / Mascots -->
                            <li>
                                <ul id="m-decorations-mascots" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 " uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Previous</div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 "uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding -small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="uk-width-1-1">
                                            <a href="#" class="uk-button bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                        </div>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Step 7: Decoration / Mascots -->

                            <!-- Step 8: Richardson Logo -->
                            <li>
                                <div id="m-richardson-logo" class="uk-padding-small uk-margin-remove">
                                </div>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 " uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Previous</div>
                                            </div>
                                        </a>
                                        <a class="uk-link-reset uk-width-1-2">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding -small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="uk-width-1-1">
                                            <a href="#" class="uk-button bgc-dark fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                        </div>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Step 8: Richardson Logo -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Modals-->
<div id="modal-confirmation" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-text-center">
        <div class="uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <span class="uk-text-warning uk-text-lead" uk-icon="icon: warning; ratio: 8"></span>
            <h2 class="uk-text-bold uk-margin-small uk-margin-remove-horizontal">Are you sure?</h2>
            <p class=" uk-margin-remove-top">Are you sure that you want to delete this application?</p>
        </div>

        <div class="uk-grid-small grid-tiny uk-grid-match uk-text-center uk-flex-center uk-margin-medium-bottom" uk-grid>
            <div class="uk-width-auto">
                <a href="#modal-all-application" class="uk-button uk-button-default uk-padding-small-horizontal uk-width-1-1 uk-text-capitalize" uk-toggle>Cancel</a>
            </div>
            <div class="uk-width-auto">
                <a href="#modal-all-application" class="uk-button uk-button-secondary uk-padding-small-horizontal uk-width-1-1 uk-text-capitalize" uk-toggle>Yes, Delete it!</a>
            </div>
        </div>
    </div>
</div>
<div id="modal-edit-palette-color" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <h6 class="uk-padding-small bgc-light uk-text-bold uk-text-center uk-text-uppercase uk-margin-bottom">Piping Color</h6>
        <div class="uk-grid-medium uk-flex-center" uk-grid>
            <div class="uk-width-auto uk-width-1-3@m">
                <div class="bdr-thin bdr-gray">
                    <img src="./img/sample-piping.jpg" alt="" width="250" height="250" uk-img>
                </div>
                <h6 class="uk-margin-remove uk-text-bold uk-text-center uk-text-uppercase">Yoke Piping</h6>
            </div>
            <div class="uk-width-1-1 uk-width-2-3@m uk-text-center">

                <div>
                    <ul class="uk-subnav uk-grid-collapse uk-text-center uk-padding-remove uk-child-width-expand bottom-arrow arrow-outward bac-dark active-bgc-dark active-bdr-dark" uk-switcher uk-grid>
                        <li class="uk-padding-remove"><a class="uk-width-1-1 padding-tiny-vertical uk-button-default fc-dark uk-text-capitalize">Color 1</a></li>
                        <li class="uk-padding-remove"><a class="uk-width-1-1 padding-tiny-vertical uk-button-default fc-dark uk-text-capitalize">Color 2</a></li>
                        <li class="uk-padding-remove"><a class="uk-width-1-1 padding-tiny-vertical uk-button-default fc-dark uk-text-capitalize">Color 3</a></li>
                        <li class="uk-padding-remove"><a class="uk-width-1-1 padding-tiny-vertical uk-button-default fc-dark uk-text-capitalize">Color 4</a></li>
                    </ul>
                    <ul id="color-palette-list" class="uk-switcher uk-margin uk-padding-remove">
                        <li>
                            <div class="con-select con-palettes">
                                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="con-select con-palettes">
                                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="con-select con-palettes">
                                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="con-select con-palettes">
                                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="uk-grid-small uk-grid-match uk-text-center" uk-grid>
                    <div class="uk-width-1-2 uk-width-1-2@s">
                        <button class="uk-button uk-button-default uk-button-small uk-width-1-1" type="button">Done</button>
                    </div>
                    <div class="uk-width-1-2 uk-width-1-2@s">
                        <button class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-modal-close" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-edit-palette-pattern" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <h6 class="uk-padding-small bgc-light uk-text-bold uk-text-center uk-text-uppercase uk-margin-bottom">Pattern Color</h6>
        <div class="uk-grid-medium uk-flex-center" uk-grid>
            <div class="uk-width-auto uk-width-1-3@m">
                <div class="bdr-thin bdr-gray">
                    <img src="./img/palettes/palette-camo.png" alt="" width="250" height="250" uk-img>
                </div>
                <h6 class="uk-margin-remove uk-text-bold uk-text-center uk-text-uppercase">Camo</h6>
            </div>
            <div class="uk-width-1-1 uk-width-2-3@m uk-text-center">

                <div>
                    <ul class="uk-subnav uk-grid-collapse uk-text-center uk-padding-remove uk-child-width-expand bottom-arrow arrow-outward bac-dark active-bgc-dark active-bdr-dark" uk-switcher uk-grid>
                        <li class="uk-padding-remove"><a class="uk-width-1-1 padding-tiny-vertical uk-button-default fc-dark">1</a></li>
                        <li class="uk-padding-remove"><a class="uk-width-1-1 padding-tiny-vertical uk-button-default fc-dark">2</a></li>
                        <li class="uk-padding-remove"><a class="uk-width-1-1 padding-tiny-vertical uk-button-default fc-dark">3</a></li>
                        <li class="uk-padding-remove"><a class="uk-width-1-1 padding-tiny-vertical uk-button-default fc-dark">4</a></li>
                    </ul>
                    <ul class="uk-switcher uk-margin uk-padding-remove">
                        <li>
                            <div class="con-select con-palettes">
                                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="con-select con-palettes">
                                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="con-select con-palettes">
                                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="con-select con-palettes">
                                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="uk-grid-small uk-grid-match uk-text-center" uk-grid>
                    <div class="uk-width-1-2 uk-width-1-2@s">
                        <button class="uk-button uk-button-default uk-button-small uk-width-1-1" type="button">Done</button>
                    </div>
                    <div class="uk-width-1-2 uk-width-1-2@s">
                        <button class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-modal-close" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-select-mascot" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h6 class="uk-padding-small bgc-light uk-text-bold uk-text-center uk-text-uppercase uk-margin uk-margin-remove-horizontal">Decoration Custom Logo</h6>
        <ul class="uk-subnav uk-subnav-pill uk-flex-center active-bgc-dark" uk-switcher>
            <li><a href="#" class="uk-button uk-button-small uk-button-default uk-text-capitalize">Select from existing design</a></li>
            <li><a href="#" class="uk-button uk-button-small uk-button-default uk-text-capitalize">Create a custom logo</a></li>
            <li><a href="#" class="uk-button uk-button-small uk-button-default uk-text-capitalize">Upload your own logo file</a></li>
        </ul>
        <hr>
        <ul class="uk-switcher uk-margin">
            <li>
                <div class="uk-grid-collapse uk-flex uk-flex-middle" uk-grid>
                    <div class="uk-width-1-2@s uk-width-1-3@m uk-width-1-2@l">
                        <h4 class="uk-text-bold uk-text-center uk-text-uppercase uk-margin-remove">Bear</h4>
                        <p class="uk-text-center uk-margin-remove-top">
                            <a href="#" class="uk-button uk-button-text uk-text-capitalize">Fullsize Preview</a>
                        </p>
                        <div class="uk-grid-collapse uk-flex-center" uk-grid>
                            <div class="uk-width-1-1 uk-width-2-3@s uk-text-center">
                                <div>
                                    <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/materials/staging/Beavers_2/00585c46c4acd535948bae93.png" uk-img>
                                </div>

                                <a href="" class="uk-button uk-button-secondary uk-margin-top">Add to uniform</a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s uk-width-2-3@m uk-width-1-2@l uk-flex-first@s">
                        <nav class="uk-navbar-container uk-navbar-transparent uk-margin-top" uk-navbar>

                            <div class="nav-overlay uk-navbar-left uk-padding-small uk-padding-remove-horizontal">
                                <ul class="uk-subnav uk-margin-remove uk-grid-small grid-tiny active-bgc-dark" uk-switcher="connect: .con-mascot-act-arch" uk-grid>
                                    <li><a href="#" class="uk-button uk-button-small uk-button-default padding-tiny-vertical uk-text-capitalize">Active <span>(8)</span></a></li>
                                    <li><a href="#" class="uk-button uk-button-small uk-button-default padding-tiny-vertical uk-text-capitalize">Archive <span>(0)</span></a></li>
                                </ul>

                            </div>

                            <div class="uk-navbar-right uk-padding-small uk-padding-remove-left uk-visible@m">
                                <form class="uk-search uk-search-default">
                                    <input class="uk-search-input" type="search" placeholder="Search...">
                                </form>
                                <span class="uk-margin-small-left icon-search"></span>
                            </div>
                            <div class="nav-overlay uk-navbar-right uk-padding-small uk-padding-remove-left uk-hidden@m">

                                <a class="" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

                            </div>

                            <div class="nav-overlay uk-navbar-left uk-flex-1 uk-padding-small" hidden>

                                <div class="uk-width-expand">
                                    <form class="uk-search uk-search-navbar uk-width-1-1">
                                        <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                                    </form>
                                </div>

                                <a class="" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>

                            </div>

                        </nav>
                        <ul class="uk-switcher con-mascot-act-arch">
                            <li>
                                <div class="uk-margin-top uk-padding-small bdr-thin bdr-gray bgc-light uk-height-max-medium uk-overflow-auto">
                                    <div id="m-logo-active" class="uk-grid-small uk-grid-match uk-child-width-1-2 uk-child-width-1-4@m con-select con-palettes" uk-grid>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-margin-top uk-padding-small bdr-thin bdr-gray bgc-light uk-height-max-medium uk-overflow-auto">
                                    <div id="m-logo-archive" class="uk-grid-small uk-grid-match uk-child-width-1-2 uk-child-width-1-4@m con-select con-palettes" uk-grid>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>Hello again!</li>
            <li>Bazinga!</li>
        </ul>
    </div>
</div>
<div id="modal-all-application" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <h4 class="bgc-light fc-dark uk-padding-small uk-text-capitalize uk-text-center uk-text-uppercase uk-margin-remove">All Application(s)</h4>
        <div class="uk-padding-small">
            <ul id="m-applications" class="uk-list uk-list-divider con-select active-bgc-red uk-margin-remove" uk-sortable="handle: .item-sort" >
            </ul>
        </div>
        <hr class="bdr-lightGray uk-margin-remove">
        <div class="uk-padding-small">
            <div class="uk-grid-small grid-tiny uk-grid-match uk-text-center" uk-grid>
                <div class="uk-width-2-3 uk-width-1-2@s">
                    <button class="uk-button uk-button-default uk-padding-remove-horizontal uk-width-1-1 uk-text-capitalize" type="button">Show location markers</button>
                </div>
                <div class="uk-width-1-3 uk-width-1-2@s">
                    <button class="uk-button uk-button-default uk-padding-remove-horizontal uk-width-1-1 uk-text-capitalize uk-modal-close" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type='mustache/x-tmpl' id='applications'>
{{#applications}}
<li class="item-sort">
<div class=" uk-grid-collapse btn-selection-choice uk-padding-small uk-flex-middle" uk-grid>
<div class="uk-width-expand uk-grid-collapse uk-margin-small-right uk-drag" uk-grid>
<a class="uk-link-reset uk-width-1-1 uk-text-truncate">{{app}}</a>
</div>
<div class="uk-width-auto">
<a href="#modal-confirmation" class="uk-link-reset uk-width-1-1" uk-toggle>
<span class="icon-delete"></span>
</a>
</div>
</div>
</li>
{{/applications}}
</script>

<script type='mustache/x-tmpl' id='logo-active'>
{{#logoActive}}
<div class="mascot-item">
<div class="bgc-white uk-text-right">
<a class="box-palette uk-link-reset btn-selection-choice uk-text-center">
<h6 class="bgc-dark fc-light uk-text-center uk-margin-remove padding-tiny-vertical">{{name}}</h6>
<div class="uk-inline">
<div class="uk-padding-small uk-padding-remove-bottom">
<img src="{{logo}}" uk-img>
</div>
<div class="uk-position-cover choice-icon bdr-lightGray">
<span uk-icon="icon: check; ratio: 1.5" class="uk-text-bold uk-position-center uk-overlay-primary"></span>
</div>
</div>
</a>
<a class="uk-margin-small-right uk-link-reset btn-archive">
<span class="icon-archive"></span>
</a>
</div>
</div>
{{/logoActive}}
</script>

<script type='mustache/x-tmpl' id='logo-archive'>
{{#logoArchive}}
<div class="mascot-item">
<div class="bgc-white uk-text-right">
<a class="box-palette uk-link-reset btn-selection-choice uk-text-center">
<h6 class="bgc-dark fc-light uk-text-center uk-margin-remove padding-tiny-vertical">{{name}}</h6>
<div class="uk-inline">
<div class="uk-padding-small uk-padding-remove-bottom">
<img src="{{logo}}" uk-img>
</div>
<div class="uk-position-cover choice-icon bdr-lightGray">
<span uk-icon="icon: check; ratio: 1.5" class="uk-text-bold uk-position-center uk-overlay-primary"></span>
</div>
</div>
</a>
<a class="uk-margin-small-right uk-link-reset btn-archive">
<span class="icon-archive"></span>
</a>
</div>
</div>
{{/logoArchive}}
</script>

</body>
</html>
