<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Richardson</title>
    <!-- UIkit CSS -->


    <link rel="stylesheet" href="css/jquery.steps.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.css" />
    <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/jqueryui.min.css" />
    <link rel="stylesheet" href="https://rawgit.com/simeydotme/jQuery-ui-Slider-Pips/master/dist/jquery-ui-slider-pips.css" />
    <link rel="stylesheet" href="css/style.css">

    <!-- JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.steps.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://rawgit.com/simeydotme/jQuery-ui-Slider-Pips/master/src/js/jquery-ui-slider-pips.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body>

<section class="uk-section">
    <div class="uk-container uk-container-large">
        <div class="uk-grid-collapse" uk-grid>
            <div id="con-preview-pane" class="uk-width-1-1 uk-width-1-2@m uk-width-2-3@l ">
            </div>
            <div id="con-steps-sidebar" class="uk-width-1-1 uk-width-1-2@m uk-width-1-3@l">
                <div class="uk-padding-small bgc-light wer">
                    <div class=" uk-text-right">
                        <a class="uk-link-reset uk-text-small uk-text-uppercase" href="">Select new style</a>
                    </div>
                    <h5 class="uk-text-uppercase uk-text-bold uk-margin-remove oswald-regular">Pts 20</h5>
                    <div class="uk-grid-small" uk-grid>
                        <div class="uk-width-expand">
                            <h4 class="uk-text-uppercase uk-text-bold uk-margin-remove uk-text-truncate abrade-ultra-italic fc-darkGray">Pts Pro select 3000-8</h4>
                            <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-remove fc-red abrade-ultra">Sublimated</h6>
                        </div>
                        <!--CHANGE FABRIC BUTTON-->
                        <!--<div class="" uk-switcher="connect: .bt-0" uk-grid>-->
                            <!--<div class="">-->
                                <!--<a href="" class="uk-button uk-button-small padding-tiny-vertical uk-text-bold bgc-red fc-light uk-text-uppercase bdr-thin bdr-dark btn-bt-0 uk-flex uk-flex-middle ">-->
                                    <!--<span class="icon icon icon-edit"></span>-->
                                    <!--<span class="uk-visible@s uk-margin-small-left abrade-ultra">Change fabric</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>



                <div class="uk-grid-collapse" uk-grid>
                    <!-- Number Navigation -->
                    <div class="uk-width-1-1 uk-width-auto@s left-nav">
                        <div class="k-flex-center uk-grid-collapse uk-grid-match active-bgc-red active-bdr-red uk-text-bold" uk-switcher="connect: .con-customizer" uk-grid>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-hidden@s uk-width-1-1" uk-tooltip="title: Fabric; pos: top-right; offset: 0;">1</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-visible@s" uk-tooltip="title: Fabric; pos: left; offset: 0;">1</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-hidden@s uk-width-1-1" uk-tooltip="title: Base Color; pos: top-right; offset: 0;">2</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-visible@s" uk-tooltip="title: Base Color; pos: left; offset: 0;">2</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-hidden@s uk-width-1-1" uk-tooltip="title: Inserts; pos: top-right; offset: 0;">3</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-visible@s" uk-tooltip="title: Inserts; pos: left; offset: 0;">3</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-hidden@s uk-width-1-1" uk-tooltip="title: Pipings; pos: top-right; offset: 0;">4</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-visible@s" uk-tooltip="title: Pipings; pos: left; offset: 0;">4</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-hidden@s uk-width-1-1" uk-tooltip="title: Decoration Letters; pos: top-right; offset: 0;">5</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-visible@s" uk-tooltip="title: Decoration Letters; pos: left; offset: 0;">5</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-hidden@s uk-width-1-1" uk-tooltip="title: Decoration Numbers; pos: top-right; offset: 0;">6</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-visible@s" uk-tooltip="title: Decoration Numbers; pos: left; offset: 0;">6</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-hidden@s uk-width-1-1" uk-tooltip="title: Decorations; pos: top-right; offset: 0;">7</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-visible@s" uk-tooltip="title: Decorations; pos: left; offset: 0;">7</a>
                            </div>
                            <div class="uk-width-expand uk-width-1-1@s box">
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-hidden@s uk-width-1-1" uk-tooltip="title: Richardson Logo; pos: top-right; offset: 0;">8</a>
                                <a href="#" class="uk-button uk-padding-remove bdrr-none bdr-thin bdr-lightGray uk-link-reset bgc-light abrade-ultra uk-visible@s" uk-tooltip="title: Richardson Logo; pos: left; offset: 0;">8</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Number Navigation -->
                    <div class="uk-width-1-1 uk-width-expand@s">
                        <ul id="m-con-steps" class="uk-switcher con-customizer bt-0">
                            <!-- Fabric Selection: Step 1 -->
                            <li>
                                <div id="m-fabric-selection" class=" uk-padding-small uk-height-max-large uk-overflow-auto"></div>
                                <div class="uk-padding-small bgc-light">

                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a class="uk-disabled uk-link-reset uk-width-1-2 abrade-medium">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Prev<span class="hidden-xxs">ious</span></div>
                                            </div>
                                        </a>
                                        <a href="#" uk-switcher-item="next" class="uk-link-reset uk-width-1-2 abrade-medium">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="link-reset uk-padding-small uk-padding-remove-horizontal padding-tiny-vertical bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Fabric Selection: Step 1 -->

                            <!-- Base Color Selection Step 2 -->
                            <li>
                                <ul id="m-base-color-selection" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#"class="uk-link-reset uk-width-1-2 abrade-medium" uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Prev<span class="hidden-xxs">ious</span></div>
                                            </div>
                                        </a>
                                        <a href="#"class="uk-link-reset uk-width-1-2 abrade-medium"uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="link-reset uk-padding-small uk-padding-remove-horizontal padding-tiny-vertical bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Base Color Selection Step 2 -->

                            <!-- Sleeve Inserts: Step 3 -->
                            <li>
                                <ul id="m-sleeve-inserts" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium" uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Prev<span class="hidden-xxs">ious</span></div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium"uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="link-reset uk-padding-small uk-padding-remove-horizontal padding-tiny-vertical bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Sleeve Inserts: Step 3 -->

                            <!-- Pipings: Step 4 -->
                            <li>
                                <div id="m-pipings"></div>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium" uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Prev<span class="hidden-xxs">ious</span></div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium"uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="link-reset uk-padding-small uk-padding-remove-horizontal padding-tiny-vertical bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Pipings: Step 4 -->

                            <!-- Step 5: Decorations / Letters -->
                            <li>
                                <ul id="m-decorations-letters" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium" uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Prev<span class="hidden-xxs">ious</span></div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium"uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="link-reset uk-padding-small uk-padding-remove-horizontal padding-tiny-vertical bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Step 5: Decorations / Letters -->

                            <!-- Step 6: Decorations / Numbers -->
                            <li>
                                <ul id="m-decorations-numbers" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium" uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Prev<span class="hidden-xxs">ious</span></div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium"uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="link-reset uk-padding-small uk-padding-remove-horizontal padding-tiny-vertical bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Step 6: Decorations / Numbers -->

                            <!-- Step 7: Decoration / Mascots -->
                            <li>
                                <ul id="m-decorations-mascots" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove">
                                </ul>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium" uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Prev<span class="hidden-xxs">ious</span></div>
                                            </div>
                                        </a>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium"uk-switcher-item="next">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="link-reset uk-padding-small uk-padding-remove-horizontal padding-tiny-vertical bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Step 7: Decoration / Mascots -->

                            <!-- Step 8: Richardson Logo -->
                            <li>
                                <div id="m-richardson-logo" class="uk-padding-small uk-margin-remove">
                                </div>
                                <div class="uk-padding-small bgc-light">
                                    <div class=" uk-grid-collapse uk-text-center" uk-grid>
                                        <a href="#" class="uk-link-reset uk-width-1-2 abrade-medium" uk-switcher-item="previous">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark bdr-remove-right">
                                                    <span class="fc-red icon-left-arrow"></span>
                                                </div>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Prev<span class="hidden-xxs">ious</span></div>
                                            </div>
                                        </a>
                                        <a class="uk-disabled uk-link-reset uk-width-1-2 abrade-medium">
                                            <div class="uk-grid-collapse" uk-grid>
                                                <div class="uk-width-expand uk-padding-small padding-tiny-vertical bdr-thin bdr-dark uk-text-uppercase bdr-remove-right">Next</div>
                                                <div class="uk-width-auto uk-padding-small padding-tiny-vertical bdr-thin bdr-dark">
                                                    <span class="fc-red icon-right-arrow"></span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="link-reset uk-padding-small uk-padding-remove-horizontal padding-tiny-vertical bgc-darkerGray fc-light uk-text-bold uk-width-1-1 uk-text-capitalize abrade-ultra-italic">Finish / View &nbsp;Summary</a>
                                    </div>

                                    <div class="uk-grid-small uk-text-bold fc-red abrade-ultra-italic" uk-grid>
                                        <div class="uk-width-expand con-legend uk-grid-small grid-tiny uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <div class="bdr-red bdr-reg box"></div>
                                            </div>
                                            <div class="uk-width-expand">
                                                <span class="uk-text-middle">= Incomplete Step</span>
                                            </div>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a href="#" class="uk-link-reset fc-red abrade-ultra-italic">User Login</a>
                                        </div>
                                    </div>
                                </div>
                                <hr class="bdr-darker uk-margin-remove">
                            </li>
                            <!-- End Step 8: Richardson Logo -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Modals-->
<div id="modal-confirmation" class="uk-flex-top" uk-modal></div>
<div id="modal-edit-palette-color" class="uk-flex-top" uk-modal></div>
<div id="modal-edit-palette-pattern" class="uk-flex-top" uk-modal></div>
<div id="modal-select-mascot" class="uk-modal-container" uk-modal></div>
<div id="modal-all-application" class="uk-flex-top" uk-modal></div>


</body>
</html>
