<li>
    <h5 uk-margin class="uk-margin-remove-vertical uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Base Color</h5>
    <h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark">Choose color / Pattern</h6>
    <div class="con-select con-palettes">
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Color</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
        </div>
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Pattern</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-pattern" uk-grid>
        </div>
        <a class="uk-button uk-button-default uk-margin-small-top uk-text-capitalize modal-edit-palette-pattern" href="customizer-mustache.html#modal-edit-palette-pattern" uk-toggle>
            <div class=" uk-flex uk-flex-middle">
                <span class="uk-margin-small-right icon icon-edit"></span><span>Edit pattern color</span>
            </div>
        </a>
    </div>
</li>
<li>
    <h5 uk-margin class="uk-margin-remove-vertical uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Sleeve Color</h5>
    <h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark">Choose color / Pattern</h6>
    <div class="con-select con-palettes">
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Color</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
        </div>
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Pattern</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-pattern" uk-grid>
        </div>
        <a class="uk-button uk-button-default uk-margin-small-top uk-text-capitalize modal-edit-palette-pattern" href="customizer-mustache.html#modal-edit-palette-pattern" uk-toggle>
            <div class=" uk-flex uk-flex-middle">
                <span class="uk-margin-small-right icon icon-edit"></span><span>Edit pattern color</span>
            </div>
        </a>
    </div>
</li>
<li>
    <h5 uk-margin class="uk-margin-remove-vertical uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Back Body Color</h5>
    <h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark">Choose color / Pattern</h6>
    <div class="con-select con-palettes">
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Color</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-color" uk-grid>
        </div>
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Pattern</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center m-palette-pattern" uk-grid>
        </div>
        <a class="uk-button uk-button-default uk-margin-small-top uk-text-capitalize modal-edit-palette-pattern" href="customizer-mustache.html#modal-edit-palette-pattern" uk-toggle>
            <div class=" uk-flex uk-flex-middle">
                <span class="uk-margin-small-right icon icon-edit"></span><span>Edit pattern color</span>
            </div>
        </a>
    </div>
</li>