<li>
    <h5 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Decoration Letters</h5>
    <div class="con-add-application hidden">
        <h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark abrade-black">Choose location</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-1-2 uk-text-center con-select active-bgc-dark" uk-grid>
            <div class="">
                <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice toggle-hide uk-active">Front body</button>
            </div>
            <div class="">
                <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice">Back body</button>
            </div>
            <div class="">
                <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice">Left sleeve</button>
            </div>
            <div class="">
                <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice">Right sleeve</button>
            </div>
        </div>
        <h6 uk-margin class="uk-margin-small uk-margin-remove-horizontal uk-text-bold uk-text-uppercase fc-dark abrade-black">Choose perspective</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-1-3 uk-text-center con-select active-bgc-dark uk-margin-medium-bottom" uk-grid>
            <div class="">
                <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice toggle-hide uk-active">Front number</button>
            </div>
            <div class="">
                <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice">Back number</button>
            </div>
            <div class="">
                <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice">Sleeve number</button>
            </div>
        </div>
    </div>

    <div class="uk-grid-small grid-tiny uk-grid-match uk-text-center con-select con-toggle" uk-grid>
        <div class="uk-width-1-2 ">
            <button class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize uk-text-capitalize btn-selection-choice toggle-show">
                <span class="uk-margin-small-right icon-add"></span>Add application
            </button>
        </div>
        <div class="uk-width-1-2 ">
            <button class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize uk-text-capitalize btn-selection-choice toggle-hide" type="button" uk-toggle="target: #modal-all-application">
                <span class="uk-margin-small-right icon-view"></span>View all application
            </button>
        </div>
    </div>
</li>

<li>
    <h5 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold fc-darker"><span class=" uk-text-uppercase abrade-ultra-italic">Team name</span> (front view) #1</h5>
    <div class="uk-grid-small grid-tiny uk-grid-match uk-text-center con-select con-toggle active-bgc-dark" uk-grid>
        <div class="uk-width-1-2 ">
            <button class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice">View</button>
        </div>
        <div class="uk-width-1-2 ">
            <button class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice toggle-hide uk-active">Hide</button>
        </div>
    </div>

    <div class="con-input-object">
        <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Input team name</h6>
        <div class="">
            <input class="uk-input bgc-light bdr-lightGray" type="text" placeholder="Your team name">
        </div>
    </div>

    <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Team name font</h6>
    <div class="uk-grid-collapse uk-grid-match uk-text-center" uk-grid>
        <div class="uk-width-auto ">
            <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default">
                <span class="fc-red icon-left-arrow"></span>
            </a>
        </div>
        <div class="uk-width-expand ">
            <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-bold fc-dark">Full Block</a>
        </div>
        <div class="uk-width-auto ">
            <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default">
                <span class="fc-red icon-right-arrow"></span>
            </a>
        </div>
    </div>

    <div class="uk-padding-small uk-padding-remove-vertical">
        <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom"><span class="uk-margin-small-right icon-font-size"></span>Font Size</h6>
        <div class="uk-padding uk-padding-remove-vertical">
            <div class="slider-range  range-small-large"></div>
        </div>
        <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-small-bottom"><span class="uk-margin-small-right icon-move"></span>Position</h6>
        <div class="uk-padding uk-padding-remove-vertical">
            <div class="slider-range range-left-right"></div>
            <div class="slider-range range-up-down uk-margin-medium-top"></div>
        </div>

        <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-small-bottom"><span class="uk-margin-small-right icon-rotate"></span>Rotate</h6>
        <div class="uk-flex-center" uk-grid>
            <div class="">
                <div class="slider"></div>
            </div>
        </div>
    </div>

    <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Choose font Accent</h6>
    <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-1-5 uk-child-width-1-6@s uk-child-width-1-5@m con-select con-palettes m-accents" uk-grid>
    </div>

    <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Choose font color</h6>
    <div>
        <ul class="uk-subnav uk-grid-collapse uk-text-center uk-padding-remove uk-child-width-expand bottom-arrow arrow-outward bac-dark active-bgc-dark active-bdr-dark " uk-switcher uk-grid>
            <li class="uk-padding-remove"><a href="#" class="uk-width-1-1 padding-tiny-vertical uk-button-default uk-text-capitalize">Main&nbsp;Color</a></li>
            <li class="uk-padding-remove"><a href="#" class="uk-width-1-1 padding-tiny-vertical uk-button-default uk-text-capitalize">Outline&nbsp;Color</a></li>
        </ul>
        <ul class="uk-switcher uk-margin uk-padding-remove">
            <li>
                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center con-select con-palettes m-palette-color" uk-grid></div>
            </li>
            <li>
                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center con-select con-palettes m-palette-color" uk-grid></div>
            </li>
        </ul>
    </div>

    <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Choose Layout</h6>
    <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-2@m con-select con-palettes m-layouts" uk-grid>
    </div>
</li>

<li>
    <h5 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold fc-darker"><span class=" uk-text-uppercase abrade abrade-ultra-italic">Player name</span> (Back view) #2</h5>
    <div class="uk-grid-small grid-tiny uk-grid-match uk-text-center con-select con-toggle active-bgc-dark" uk-grid>
        <div class="uk-width-1-2 ">
            <button class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice">View</button>
        </div>
        <div class="uk-width-1-2 ">
            <button class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize btn-selection-choice toggle-hide uk-active">Hide</button>
        </div>
    </div>

    <div class="con-input-object">
        <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Input player name</h6>
        <div class="">
            <input class="uk-input bgc-light bdr-lightGray" type="text" placeholder="Your name">
        </div>
    </div>

    <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Team name font</h6>
    <div class="uk-grid-collapse uk-grid-match uk-text-center" uk-grid>
        <div class="uk-width-auto ">
            <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default">
                <span class="fc-red icon-left-arrow"></span>
            </a>
        </div>
        <div class="uk-width-expand ">
            <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-bold fc-dark">Full Block</a>
        </div>
        <div class="uk-width-auto ">
            <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default">
                <span class="fc-red icon-right-arrow"></span>
            </a>
        </div>
    </div>

    <div class="uk-padding-small uk-padding-remove-vertical">
        <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom"><span class="uk-margin-small-right icon-font-size"></span>Font Size</h6>
        <div class="uk-padding uk-padding-remove-vertical">
            <div class="slider-range  range-small-large"></div>
        </div>
        <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-small-bottom"><span class="uk-margin-small-right icon-move"></span>Position</h6>
        <div class="uk-padding uk-padding-remove-vertical">
            <div class="slider-range range-left-right"></div>
            <div class="slider-range range-up-down uk-margin-medium-top"></div>
        </div>

        <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-small-bottom"><span class="uk-margin-small-right icon-rotate"></span>Rotate</h6>
        <div class="uk-flex-center" uk-grid>
            <div class="">
                <div class="slider"></div>
            </div>
        </div>
    </div>

    <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Choose font Accent</h6>
    <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-1-5 uk-child-width-1-6@s uk-child-width-1-5@m con-select con-palettes m-accents" uk-grid>
    </div>

    <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Choose font color</h6>
    <div>
        <ul class="uk-subnav uk-grid-collapse uk-text-center uk-padding-remove uk-child-width-expand bottom-arrow arrow-outward bac-dark active-bgc-dark active-bdr-dark " uk-switcher uk-grid>
            <li class="uk-padding-remove"><a href="#" class="uk-width-1-1 padding-tiny-vertical uk-button-default uk-text-capitalize">Main&nbsp;Color</a></li>
            <li class="uk-padding-remove"><a href="#" class="uk-width-1-1 padding-tiny-vertical uk-button-default uk-text-capitalize">Outline&nbsp;Color</a></li>
        </ul>
        <ul class="uk-switcher uk-margin uk-padding-remove">
            <li>
                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center con-select con-palettes m-palette-color" uk-grid></div>
            </li>
            <li>
                <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center con-select con-palettes m-palette-color" uk-grid></div>
            </li>
        </ul>
    </div>

    <h6 class="uk-text-small uk-text-uppercase uk-text-bold uk-margin-top uk-margin-small-bottom abrade-black">Choose Layout</h6>
    <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-2@m con-select con-palettes m-layouts" uk-grid>
    </div>
</li>