<ul id="m-fabrics" class="uk-list uk-margin-remove-vertical uk-padding-small con-select con-palettes">
        <!--<h5 uk-margin class="uk-margin-remove-vertical uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Fabric</h5>-->
        <!--<h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark">Choose base fabric</h6>-->
        <!--<li>-->
            <!--<div class="box-palette uk-link-reset btn-selection-choice">-->
                <!--<div class="uk-grid-small uk-flex uk-text-left" uk-grid>-->
                    <!--<div class="uk-width-1-4">-->
                        <!--<div class="uk-inline">-->
                            <!--<div class="bgc-white padding-tiny-vertical">-->
                                <!--<img src="./img/fabric-texture.jpg" uk-img>-->
                            <!--</div>-->
                            <!--<div class="uk-position-cover choice-icon bdr-lightGray">-->
                                <!--<span uk-icon="icon: check; ratio: 1.5" class="uk-text-bold uk-position-center uk-overlay-primary"></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="uk-width-3-4">-->
                        <!--<div class="">-->
                            <!--<p class="uk-text-bold uk-text-uppercase uk-margin-remove fc-dark">Etx-->
                            <!--</p>-->
                            <!--<ul class="uk-list uk-padding-remove">-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="box-palette uk-link-reset btn-selection-choice uk-active">-->
                <!--<div class="uk-grid-small uk-flex uk-text-left" uk-grid>-->
                    <!--<div class="uk-width-1-4">-->
                        <!--<div class="uk-inline">-->
                            <!--<div class="bgc-white padding-tiny-vertical">-->
                                <!--<img src="./img/fabric-texture.jpg" uk-img>-->
                            <!--</div>-->
                            <!--<div class="uk-position-cover choice-icon bdr-lightGray">-->
                                <!--<span uk-icon="icon: check; ratio: 1.5" class="uk-text-bold uk-position-center uk-overlay-primary"></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="uk-width-3-4">-->
                        <!--<div class="">-->
                            <!--<p class="uk-text-bold uk-text-uppercase uk-margin-remove fc-dark">Etx-->
                            <!--</p>-->
                            <!--<ul class="uk-list uk-padding-remove">-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="box-palette uk-link-reset btn-selection-choice">-->
                <!--<div class="uk-grid-small uk-flex uk-text-left" uk-grid>-->
                    <!--<div class="uk-width-1-4">-->
                        <!--<div class="uk-inline">-->
                            <!--<div class="bgc-white padding-tiny-vertical">-->
                                <!--<img src="./img/fabric-texture.jpg" uk-img>-->
                            <!--</div>-->
                            <!--<div class="uk-position-cover choice-icon bdr-lightGray">-->
                                <!--<span uk-icon="icon: check; ratio: 1.5" class="uk-text-bold uk-position-center uk-overlay-primary"></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="uk-width-3-4">-->
                        <!--<div class="">-->
                            <!--<p class="uk-text-bold uk-text-uppercase uk-margin-remove fc-dark">Etx-->
                            <!--</p>-->
                            <!--<ul class="uk-list uk-padding-remove">-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li>-->
            <!--<div class="box-palette uk-link-reset btn-selection-choice">-->
                <!--<div class="uk-grid-small uk-flex uk-text-left" uk-grid>-->
                    <!--<div class="uk-width-1-4">-->
                        <!--<div class="uk-inline">-->
                            <!--<div class="bgc-white padding-tiny-vertical">-->
                                <!--<img src="./img/fabric-texture.jpg" uk-img>-->
                            <!--</div>-->
                            <!--<div class="uk-position-cover choice-icon bdr-lightGray">-->
                                <!--<span uk-icon="icon: check; ratio: 1.5" class="uk-text-bold uk-position-center uk-overlay-primary"></span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="uk-width-3-4">-->
                        <!--<div class="">-->
                            <!--<p class="uk-text-bold uk-text-uppercase uk-margin-remove fc-dark">Etx-->
                            <!--</p>-->
                            <!--<ul class="uk-list uk-padding-remove">-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                                <!--<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    </ul>




<script type='mustache/x-tmpl' id='fabrics'>
{{#fabrics}}
<li>
<div class="box-palette uk-link-reset btn-selection-choice">
<div class="uk-grid-small uk-flex uk-text-left" uk-grid>
<div class="uk-width-1-4">
<div class="uk-inline">
<div class="bgc-white padding-tiny-vertical">
<img src="{{fabric}}" uk-img>
</div>
<div class="uk-position-cover choice-icon bdr-lightGray">
<span uk-icon="icon: check; ratio: 1.5" class="uk-text-bold uk-position-center uk-overlay-primary"></span>
</div>
</div>
</div>
<div class="uk-width-3-4">
<div class="">
<p class="uk-text-bold uk-text-uppercase uk-margin-remove fc-dark">Etx
</p>
<ul class="uk-list uk-padding-remove">
<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>
<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>
<li class="uk-text-small"> - Lorem ipsum dolor amet, asdasd consectetur.</li>
</ul>
</div>
</div>
</div>
</div>
</li>
{{/fabrics}}
</script>