
<div class="uk-modal-dialog uk-margin-auto-vertical uk-text-center">
    <div class="uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <span class="uk-text-warning uk-text-lead" uk-icon="icon: warning; ratio: 8"></span>
        <h2 class="uk-text-bold uk-margin-small uk-margin-remove-horizontal">Are you sure?</h2>
        <p class=" uk-margin-remove-top">Are you sure that you want to <span class="text-confirmation-question"></span>?</p>
    </div>

    <div class="uk-grid-small grid-tiny uk-grid-match uk-text-center uk-flex-center uk-margin-medium-bottom" uk-grid>
        <div class="uk-width-auto">
            <!--<a href="" class="btn-confirm-no uk-button uk-button-default uk-padding-small-horizontal uk-width-1-1 uk-text-capitalize" uk-toggle>Cancel</a>-->
            <button class="btn-confirm-no uk-button uk-button-default uk-padding-small-horizontal uk-width-1-1 uk-text-capitalize" type="button" uk-toggle="target: ">Cancel</button>
        </div>
        <div class="uk-width-auto">
            <button class="btn-confirm-yes uk-button uk-button-secondary uk-padding-small-horizontal uk-width-1-1 uk-text-capitalize" type="button" uk-toggle="target: ">Yes, <span class="text-confirmation-action"></span>!</button>
        </div>
    </div>
</div>

