<ul id="m-pipings-list" class="uk-list uk-list-large uk-list-divider uk-height-max-large uk-overflow-auto uk-padding-small uk-margin-remove"></ul>

<script type='mustache/x-tmpl' id='pipings'>
{{#Titles}}
<li>
    <h5 uk-margin class="uk-margin-remove-vertical uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">{{titleName}}</h5>
    <h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark">Choose size</h6>
    <div class="uk-grid-small grid-tiny uk-grid-match uk-text-center con-select con-toggle active-bgc-dark" uk-grid>
        <div class="uk-width-auto uk-width-expand@s">
            <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default btn-selection-choice toggle-hide">None</button>
        </div>
        <div class="uk-width-auto uk-width-expand@s">
            <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default btn-selection-choice uk-active">1/8</button>
        </div>
        <div class="uk-width-auto uk-width-expand@s">
            <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default btn-selection-choice">1/4</button>
        </div>
        <div class="uk-width-auto uk-width-expand@s">
            <button href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default btn-selection-choice">1/2</button>
        </div>
    </div>
    <div class="con-choose-numbers-colors">
        <h6 uk-margin class="uk-margin-small-top uk-margin-small-bottom uk-text-bold uk-text-uppercase">Choose Number of Colors</h6>
        <div class="choose-numbers-colors uk-grid-small grid-tiny uk-grid-match uk-text-center con-select active-bgc-dark" uk-grid>
            <div class="uk-width-expand">
                <button href="#" class="uk-button uk-button-small uk-button-default btn-selection-choice uk-active">1</button>
            </div>
            <div class="uk-width-expand">
                <button href="#" class="uk-button uk-button-small uk-button-default btn-selection-choice">2</button>
            </div>
            <div class="uk-width-expand">
                <button href="#" class="uk-button uk-button-small uk-button-default btn-selection-choice">3</button>
            </div>
        </div>
        <a class="uk-button uk-button-default uk-margin-small-top uk-text-capitalize btn-piping-modal" href="#modal-edit-palette-color" uk-toggle>
            <div class=" uk-flex uk-flex-middle">
                <span class="uk-margin-small-right icon icon-edit"></span><span>Edit color</span>
            </div>
        </a>
    </div>
</li>
{{/Titles}}
</script>