<h5 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Richardson Logo</h5>
<h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-uppercase uk-text-bold fc-dark">Choose location</h6>
<ul class="uk-grid-small grid-tiny uk-margin-bottom bac-dark active-bgc-dark active-bdr-dark" uk-switcher="connect: .brand-location" uk-grid>
    <li class="uk-width-expand ">
        <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize">Right Chest</a>
    </li>
    <li class="uk-width-expand uk-active">
        <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize">Left Sleeve</a>
    </li>
    <li class="uk-width-expand ">
        <a href="#" class="uk-button uk-button-small uk-width-1-1 uk-button-default uk-text-capitalize">Back Neck</a>
    </li>
</ul>

<ul class="uk-switcher brand-location">
    <li>
        <div class="uk-grid-small uk-grid-match uk-flex-center" uk-grid>
            <div class="uk-width-1-1 uk-width-2-3@s">
                <div class="bdr-thin bdr-gray">
                    <img src="./img/branding-right-chest.jpg" uk-img>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="uk-grid-small uk-grid-match uk-flex-center" uk-grid>
            <div class="uk-width-1-1 uk-width-2-3@s">
                <div class="bdr-thin bdr-gray">
                    <img src="./img/branding-left-sleeve.jpg" uk-img>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="uk-grid-small uk-grid-match uk-flex-center" uk-grid>
            <div class="uk-width-1-1 uk-width-2-3@s">
                <div class="bdr-thin bdr-gray">
                    <img src="./img/branding-back.jpg" uk-img>
                </div>
            </div>
        </div>
    </li>
</ul>