<li>
    <h5 uk-margin class="uk-margin-remove-vertical uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Sleeve Inserts</h5>
    <h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark">Choose color / Pattern</h6>
    <div class="con-select con-palettes">
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Color</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center" uk-grid>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-black2">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-lightblue">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-charcoalgray">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color uk-active">
                    <div class="palette bgc-maroon">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-8">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-gold">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-grey">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-silvergray">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-1">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-2">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-darkblue ">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-orange">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-purple">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-cardinal">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-cornblue">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-seminol">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-9">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-white">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-neonpink">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
        </div>
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Pattern</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center" uk-grid>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-camo">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-check">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-diamonds">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-digital-camo">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-distressed">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-fiber">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-lockdown">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-pixel-fade-body">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-pixel-fade-sleeve">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-quake">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-score">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-thick-stripe">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-thin-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-trips-arrow">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-upper-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-upper-stripes-body">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-wave-stripe">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-wave-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
        </div>
        <a class="uk-button uk-button-default uk-margin-small-top uk-text-capitalize modal-edit-palette-pattern" href="customizer-mustache.html#modal-edit-palette-pattern" uk-toggle>
            <div class=" uk-flex uk-flex-middle">
                <span class="uk-margin-small-right icon icon-edit"></span><span>Edit pattern color</span>
            </div>
        </a>
    </div>
</li>
<li>
    <h5 uk-margin class="uk-margin-remove-vertical uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Insert Color 1</h5>
    <h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark">Choose color / Pattern</h6>
    <div class="con-select con-palettes">
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Color</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center" uk-grid>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-black2">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-lightblue">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-charcoalgray">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-maroon">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-8">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-gold">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-grey">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-silvergray">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-1">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-2">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-darkblue ">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-orange">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-purple">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-cardinal">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-cornblue">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-seminol">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-9">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-white">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-neonpink">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
        </div>
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Pattern</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center" uk-grid>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern uk-active">
                    <div class="palette palette-camo">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-check">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-diamonds">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-digital-camo">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-distressed">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-fiber">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-lockdown">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-pixel-fade-body">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-pixel-fade-sleeve">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-quake">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-score">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-thick-stripe">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-thin-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-trips-arrow">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-upper-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-upper-stripes-body">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-wave-stripe">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-wave-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
        </div>
        <a class="uk-button uk-button-default uk-margin-small-top uk-text-capitalize modal-edit-palette-pattern" href="customizer-mustache.html#modal-edit-palette-pattern" uk-toggle>
            <div class=" uk-flex uk-flex-middle">
                <span class="uk-margin-small-right icon icon-edit"></span><span>Edit pattern color</span>
            </div>
        </a>
    </div>
</li>
<li>
    <h5 uk-margin class="uk-margin-remove-vertical uk-text-uppercase uk-text-bold fc-darker abrade-ultra-italic">Insert Color 2</h5>
    <h6 uk-margin class="uk-margin-remove-top uk-margin-small-bottom uk-text-bold uk-text-uppercase fc-dark">Choose color / Pattern</h6>
    <div class="con-select con-palettes">
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Color</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center" uk-grid>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-black2">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-lightblue">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-charcoalgray">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color uk-active">
                    <div class="palette bgc-maroon">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-8">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-gold">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-grey">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-silvergray">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-1">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-2">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-darkblue ">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-orange">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-purple">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-cardinal">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-cornblue">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-seminol">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-r-cp-2-9">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-white">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-color">
                    <div class="palette bgc-neonpink">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
        </div>
        <h6 class="uk-margin-small uk-margin-remove-horizontal uk-text-uppercase">Pattern</h6>
        <div class="uk-grid-small grid-tiny uk-grid-match uk-child-width-auto uk-text-center" uk-grid>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-camo">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-check">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-diamonds">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-digital-camo">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-distressed">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-fiber">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-lockdown">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-pixel-fade-body">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-pixel-fade-sleeve">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-quake">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-score">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-thick-stripe">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-thin-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-trips-arrow">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-upper-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-upper-stripes-body">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-wave-stripe">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
            <div>
                <button class="uk-inline box-palette btn-selection-choice palette-pattern">
                    <div class="palette palette-wave-stripes">
                    </div>
                    <div class="uk-overlay-primary uk-position-cover choice-icon bdr-lightGray">
                        <span class="icon icon-check uk-text-bold uk-position-center"></span>
                    </div>
                </button>
            </div>
        </div>
        <a class="uk-button uk-button-default uk-margin-small-top uk-text-capitalize modal-edit-palette-pattern" href="customizer-mustache.html#modal-edit-palette-pattern" uk-toggle>
            <div class=" uk-flex uk-flex-middle">
                <span class="uk-margin-small-right icon icon-edit"></span><span>Edit pattern color</span>
            </div>
        </a>
    </div>
</li>