<div class="uk-grid-collapse uk-flex-center" uk-grid>
    <div class="uk-width-1-1 uk-width-expand@s">
        <div class=" uk-grid-collapse uk-flex uk-flex-center" uk-grid>
            <ul id="m-preview" class="uk-switcher con-preview uk-width-1-1 uk-width-3-4@s">
            </ul>
        </div>
    </div>

    <div class="uk-width-1-1 con-preview-pane-thumb-nav uk-flex-center uk-flex-first@s">
        <div id="m-preview-pane-thumb-nav" class="uk-grid-small grid-tiny uk-flex-center active-bdr-red uk-margin-bottom" uk-switcher="connect: .con-preview" uk-grid>
        </div>
    </div>
</div>

<script type='mustache/x-tmpl' id='preview'>
{{#previewLinks}}
<li>
<div class="uk-inline">
<img src="{{links}}" alt="" width="1000" height="1100" uk-img>
<a href="#" class="uk-position-center-left-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-left; ratio: 2" uk-switcher-item="previous"></a>
<a href="#" class="uk-position-center-right-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-right; ratio: 2" uk-switcher-item="next"></a>
</div>
</li>
{{/previewLinks}}
</script>

<script type='mustache/x-tmpl' id='preview-pane-thumb-nav'>
{{#previewLinks}}
	<div class="uk-width-auto uk-width-1-1@s uk-width-auto@m uk-width-1-1@l">
	<a href="" class="thumbnail-small bdrr-none uk-link-reset bdr-reg bdr-gray" uk-icon=" ratio: 2">
	<img src="{{links}}" alt="" width="380" height="629" uk-img>
	</a>
	</div>
{{/previewLinks}}
</script>
