

<div class="uk-grid-collapse uk-flex-center" uk-grid>

    <div class="uk-width-1-1 uk-width-expand@s">
        <div class=" uk-grid-collapse uk-flex uk-flex-center" uk-grid>
            <ul class="uk-switcher con-preview uk-width-1-1 uk-width-3-4@s">
                <li>
                    <div class="uk-inline">
                        <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/uploads/staging/984010a0a226dc207ee5430a1e00a1b7.png" alt="" width="1000" height="1100" uk-img>

                        <a href="#" class="uk-position-center-left-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-left; ratio: 2" uk-switcher-item="previous"></a>
                        <a href="#" class="uk-position-center-right-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-right; ratio: 2" uk-switcher-item="next"></a>
                    </div>
                </li>
                <li>
                    <div class="uk-inline">
                        <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/uploads/staging/ff11e98804c31eace338c140fc3b4e2f.png" alt="" width="1000" height="1100" uk-img>

                        <a href="#" class="uk-position-center-left-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-left; ratio: 2" uk-switcher-item="previous"></a>
                        <a href="#" class="uk-position-center-right-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-right; ratio: 2" uk-switcher-item="next"></a>
                    </div>
                </li>
                <li>
                    <div class="uk-inline">
                        <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/uploads/staging/decdfb5513247463255f68634de2bcfb.png" alt="" width="1000" height="1100" uk-img>

                        <a href="#" class="uk-position-center-left-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-left; ratio: 2" uk-switcher-item="previous"></a>
                        <a href="#" class="uk-position-center-right-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-right; ratio: 2" uk-switcher-item="next"></a>
                    </div>
                </li>
                <li>
                    <div class="uk-inline">
                        <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/uploads/staging/801f4aaa30cc9cb9f960d7c04ece745c.png" alt="" width="1000" height="1100" uk-img>

                        <a href="#" class="uk-position-center-left-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-left; ratio: 2" uk-switcher-item="previous"></a>
                        <a href="#" class="uk-position-center-right-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-right; ratio: 2" uk-switcher-item="next"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-1 con-preview-pane-thumb-nav uk-flex-center uk-flex-first@s">
        <div id="preview-pane-thumb-nav" class="uk-grid-small grid-tiny uk-flex-center active-bdr-red uk-margin-bottom" uk-switcher="connect: .con-preview" uk-grid>
            <div class="uk-width-auto uk-width-1-1@s uk-width-auto@m uk-width-1-1@l">
                <a href="" class="thumbnail-small bdrr-none uk-link-reset bdr-thin bdr-gray" uk-icon=" ratio: 2">
                    <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/uploads/staging/984010a0a226dc207ee5430a1e00a1b7.png" alt="" width="380" height="629" uk-img>
                </a>
            </div>
            <div class="uk-width-auto uk-width-1-1@s uk-width-auto@m uk-width-1-1@l">
                <a href="" class="thumbnail-small bdrr-none uk-link-reset bdr-thin bdr-gray" uk-icon=" ratio: 2">
                    <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/uploads/staging/ff11e98804c31eace338c140fc3b4e2f.png" alt="" width="380" height="629" uk-img>
                </a>
            </div>
            <div class="uk-width-auto uk-width-1-1@s uk-width-auto@m uk-width-1-1@l">
                <a href="" class="thumbnail-small bdrr-none uk-link-reset bdr-thin bdr-gray" uk-icon=" ratio: 2">
                    <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/uploads/staging/decdfb5513247463255f68634de2bcfb.png" alt="" width="380" height="629" uk-img>
                </a>
            </div>
            <div class="uk-width-auto uk-width-1-1@s uk-width-auto@m uk-width-1-1@l">
                <a href="" class="thumbnail-small bdrr-none uk-link-reset bdr-thin bdr-gray" uk-icon=" ratio: 2">
                    <img src="https://s3-us-west-2.amazonaws.com/uniformbuilder/uploads/staging/801f4aaa30cc9cb9f960d7c04ece745c.png" alt="" width="380" height="629" uk-img>
                </a>
            </div>
        </div>
    </div>
</div>

<!--<div class="uk-width-1-1 uk-width-1-2@m uk-width-2-3@l ">-->
    <!--<div class="uk-grid-collapse uk-flex-center" uk-grid>-->
        <!--<div class="uk-width-1-1 uk-width-expand@s">-->
            <!--<div class=" uk-grid-collapse uk-flex uk-flex-center" uk-grid>-->
                <!--<ul id="m-preview" class="uk-switcher con-preview uk-width-1-1 uk-width-3-4@s">-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="uk-width-1-1 con-preview-pane-thumb-nav uk-flex-center uk-flex-first@s">-->
            <!--<div id="m-preview-pane-thumb-nav" class="uk-grid-small grid-tiny uk-flex-center active-bdr-red uk-margin-bottom" uk-switcher="connect: .con-preview" uk-grid>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<script type='mustache/x-tmpl' id='preview'>-->
<!--{{#previewLinks}}-->
<!--<li>-->
<!--<div class="uk-inline">-->
<!--<img src="{{links}}" alt="" width="1000" height="1100" uk-img>-->
<!--<a href="#" class="uk-position-center-left-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-left; ratio: 2" uk-switcher-item="previous"></a>-->
<!--<a href="#" class="uk-position-center-right-out uk-visible@s uk-link-reset" uk-icon="icon: chevron-right; ratio: 2" uk-switcher-item="next"></a>-->
<!--</div>-->
<!--</li>-->
<!--{{/previewLinks}}-->
<!--</script>-->

<!--<script type='mustache/x-tmpl' id='preview-pane-thumb-nav'>-->
<!--{{#previewLinks}}-->
	<!--<div class="uk-width-auto uk-width-1-1@s uk-width-auto@m uk-width-1-1@l">-->
	<!--<a href="" class="thumbnail-small bdrr-none uk-link-reset bdr-thin bdr-gray" uk-icon=" ratio: 2">-->
	<!--<img src="{{links}}" alt="" width="380" height="629" uk-img>-->
	<!--</a>-->
	<!--</div>-->
<!--{{/previewLinks}}-->
<!--</script>-->
